!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    - unless @user.blank?
      %p
        The following transaction is being disputed by
        = @user.full_name.blank? ? @user.email : @user.full_name
    %p 
      Dispute details:
      %br
      = sanitize(@details).html_safe
    %p
      - unless @user.blank?
        = @transaction.date_time.in_time_zone(@user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
      - else
        = @transaction.date_time.strftime("%-m/%-d/%y %l:%M %p")
    %p
      Tran ID:
      = @transaction.id
    %p
      Company:
      = @transaction.company.CompanyName unless @transaction.company.blank?
    - unless @transaction.to_account_customer.blank?
      %p
        To:
        = @transaction.to_account_customer.user.blank? ? @transaction.to_account_customer.full_name : @transaction.to_account_customer.user.full_name
    - unless @transaction.from_account_customer.blank?
      %p
        From:
        = @transaction.from_account_customer.user.blank? ? @transaction.from_account_customer.full_name : @transaction.from_account_customer.user.full_name
    %p
      Device ID:
      = @transaction.dev_id
    %p
      Error Code:
      = @transaction.error_code
    %p
      Code:
      = @transaction.error_code_long_description
    %p
      Receipt Number:
      - if not @transaction.to_account_customer.blank? and @transaction.to_account_customer.anonymous?
        = "#{@transaction.receipt_nbr.blank? ? 'N/A' : @transaction.receipt_nbr}"
    %p
      Amount Requested:
      = "#{@transaction.amt_req.blank? ? 'N/A' : number_to_currency(@transaction.amt_req)}"
    %p
      Amount Authorized:
      = "#{@transaction.amt_auth.blank? ? 'N/A' : number_to_currency(@transaction.amt_auth)}"
    %p
      Fee:
      = "#{@transaction.ChpFee.blank? ? 'N/A' : number_to_currency(@transaction.ChpFee)}"
    - unless @transaction.amt_auth.blank? or @transaction.ChpFee.blank?
      %p
        Total:
        = number_to_currency(@transaction.amt_auth + @transaction.ChpFee)