.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-exchange
        ACH Logs
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          - unless browser.device.mobile?
            .box-tools
              = form_tag ach_logs_path, :method => 'get', :class => "form-inline" do
                = select_tag :event_id, options_from_collection_for_select(@events, "id", "title", @event_id), prompt: current_user.collaborator? ? nil : 'All events', class: "form-control"
                &nbsp;
                = select_tag :type, options_for_select([['Billed Directly', '0'],['Details', '1'],['Notes', '2']], @type), class: "form-control"
                &nbsp;
                = text_field_tag :start_date, nil, :placeholder => "Start Date", value: @start_date, class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                To
                = text_field_tag :end_date, nil, :placeholder => "End Date", value: @end_date, class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                &nbsp;
                = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                  %i.fa.fa-search
          - else
            = form_tag transactions_path, :method => 'get', :class => "form-horizontal" do
              .form-group= select_tag :event_id, options_from_collection_for_select(@events, "id", "title", @event_id), prompt: 'All events', class: "form-control"
              .form-group
                %label.control-label Start Date
                = text_field_tag :start_date, nil, :placeholder => "Start Date", value: @start_date, class: "form-control ", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
              .form-group
                %label.control-label End Date
                = text_field_tag :end_date, nil, :placeholder => "End Date", value: @end_date, class: "form-control ", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
              .form-group
                = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                  %i.fa.fa-search
                  Search
            - unless browser.device.mobile?
              .box-tools
                = form_tag events_path, id: 'events_search_form', method: 'get', class: 'form-inline' do |f|
                  .input-group
                    = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                    .input-group-append
                      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                        %i.fa.fa-search
          %small.text-muted
            = "#{pluralize(number_with_delimiter(@ach_logs.count), 'ACH Log')} found"

        .box-body.no-padding
          - unless @ach_logs.blank?
            .table-responsive
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th Date
                    %th Type
                    %th Event
                    %th Items
                    %th Total
                    %th
                %tbody
                  - @ach_logs.each do |ach_log|
                    %tr
                      %td= ach_log.CreateDate.strftime("%-m/%-d/%y")
                      %td= ach_log.IsClubCSV
                      %td= link_to ach_log.event.title, ach_log.event unless ach_log.event.blank?
                      %td= ach_log.NumItems
                      %td= number_to_currency(ach_log.Total) unless ach_log.Total.blank?
                      %td
                        = link_to "Show", ach_log, class: 'btn btn-default btn-sm'
                        =# link_to "Edit", edit_ach_log_path(ach_log), class: 'btn btn-primary btn-sm'
          - else
            &nbsp;
            None
                    
        .box-footer
          -#
            .pull-right= paginate @ach_logs