- device.bill_counts.each do |bc|
  - denomination = bc.denomination
  - unless denomination.zero?
    %td
      %div{class: "device_#{device.id}_bill_count"}
        %strong
          %u= number_to_currency(denomination, strip_insignificant_zeros: true)
        %br
        = bc.host_start_count
        %br
        = bc.added_count
        %br
        = "(#{bc.host_cycle_count})"
      %div{class: "device_#{device.id}_dollar_amount", style: 'display:none;'}
        %strong
          %u= number_to_currency(denomination, strip_insignificant_zeros: true)
        %br
        = number_to_currency(bc.host_start_count * denomination, strip_insignificant_zeros: true)
        %br
        = number_to_currency(bc.added_count * denomination, strip_insignificant_zeros: true)
        %br
        = "(#{number_to_currency(bc.host_cycle_count * denomination, strip_insignificant_zeros: true)})"