.content-wrapper
  .container-fluid
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        ATMs
        %small
          = form_tag devices_path, id: 'devices_refresh_form', method: 'get', class: 'form-inline' do |f|
            .input-group
              %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"}}
                %i.fa.fa-refresh
          =# link_to "<i class='fa fa-refresh'></i>".html_safe, devices_path, class: 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}
    / Main content
    %section.content
      - unless @devices.blank?
        - @devices.each do |device|
          .box.box-primary{"data-widget" => "box-widget"}
            .box-header.with-border
              %h3.box-title 
              -#
                .box-tools.pull-right
                  = form_tag devices_path, id: 'devices_search_form', method: 'get', class: 'form-inline' do |f|
                    .input-group.input-group-sm
                      = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                      .input-group-append
                        %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                          %i.fa.fa-search
              .box-body.no-padding
                .table-responsive
                  %table.table.table-striped.table-condensed.table-bordered
                    %thead
                      %tr
                        %th{:scope => "col"} ID
                        %th{:scope => "col"} Name
                        %th{:scope => "col"} State
                        %th{:scope => "col"} Status
                        -#
                          - device.denoms.each do |denom|
                            - unless denom.denomination.zero?
                              %th{:scope => "col"}
                                = "#{denom.cassette_id}: "
                                = number_to_currency(denom.denomination, strip_insignificant_zeros: true)
                        - device.bill_counts.order(:cassette_nbr).each do |bc|
                          %th{:scope => "col"}
                            = "#{bc.cassette_nbr}: "
                            = number_to_currency(bc.denomination, strip_insignificant_zeros: true)
                        -#
                          - if device.bill_count_1_exists?
                            %th{:scope => "col"}
                              = "1: "
                              = number_to_currency(device.bin_1_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_2_exists?
                            %th{:scope => "col"}
                              = "2: "
                              = number_to_currency(device.bin_2_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_3_exists?
                            %th{:scope => "col"}
                              = "3: "
                              = number_to_currency(device.bin_3_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_4_exists?
                            %th{:scope => "col"}
                              = "4: "
                              = number_to_currency(device.bin_4_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_5_exists?
                            %th{:scope => "col"}
                              = "5: "
                              = number_to_currency(device.bin_5_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_6_exists?
                            %th{:scope => "col"}
                              = "6: "
                              = number_to_currency(device.bin_6_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_7_exists?
                            %th{:scope => "col"}
                              = "7: "
                              = number_to_currency(device.bin_7_denom.denomination, strip_insignificant_zeros: true)
                          - if device.bill_count_8_exists?
                            %th{:scope => "col"}
                              = "8: "
                              = number_to_currency(device.bin_8_denom.denomination, strip_insignificant_zeros: true)
                        %th{:scope => "col"} Remaining
                    %tbody
                      -# @devices.each do |device|
                      %tr
                        %td= link_to device.id, device
                        %td= device.description
                        %td= (device.online.blank? or device_state_descriptions[device.online.to_i].blank?) ? 'N/A' : "#{device_state_descriptions[device.online.to_i].truncate(15)}"
                        %td
                          - unless device.dev_statuses.blank?
                            - dev_status = device.dev_statuses.order("date_time DESC").first
                            %a.btn.btn-sm.bg-green{"data-content" => "#{dev_status.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{dev_status.status}"} 
                              = dev_status.status
                          -#
                            - if device.critical_status?
                              %a.btn.btn-xs.bg-red{"data-content" => "#{device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus", :tabindex => "0"} 
                                Critical
                            - elsif device.caution_status?
                              %a.btn.btn-xs.bg-orange{"data-content" => "#{device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus", :tabindex => "0"}
                                Caution
                            - else
                              = device.status_string
                        = render partial: "devices/bin_details", locals: {device: device}
                        %td= number_to_currency(device.remaining)
            .box-footer
              -#
                .pull-right= paginate @customers, param_name: 'result1'  
      - else
        %p No Devices
          

:javascript
  $('[data-toggle="popover"]').popover();