.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.id
        = @device.description
        %small
          = form_tag @device, id: 'device_refresh_form', method: 'get', class: 'form-inline' do |f|
            .input-group
              %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"}}
                %i.fa.fa-refresh
      %p.text-muted
        Remaining:
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center= "ATM: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                -#
                  %li.list-group-item
                    %b 
                      %i.fa.fa-bolt.margin-r-5
                      Transactions in 30 days
                    %a.pull-right= @transactions.count
                %li.list-group-item
                  %b 
                    %i.fa.fa-signal.margin-r-5
                    Recent Status
                  - unless @most_recent_dev_status.blank?
                    %a.btn.btn-sm.bg-green.pull-right{"data-content" => "#{@most_recent_dev_status.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0"} 
                      = @most_recent_dev_status.status
                      -#
                        - if @device.critical_status?
                          %a.btn.btn-xs.btn-danger{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                        - elsif @device.caution_status?
                          %a.btn.btn-xs.btn-warning{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                        - else
                          = @device.status_string
                %li.list-group-item
                  %b 
                    %i.fa.fa-gears.margin-r-5
                    ATM Actions
                  -# %a.pull-right And more info

              %a.btn.btn-default.btn-block{"data-target" => "#commands-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  %i.fa.fa-arrows-alt
                  Commands
              %a.btn.btn-default.btn-block{"data-target" => "#add-cash-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  Add Cash
              %a.btn.btn-default.btn-block{"data-target" => "#reset-cash-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  Reset Cash
              %a.btn.btn-default.btn-block{"data-target" => "#add-coin-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  Add Coin
              %a.btn.btn-default.btn-block{"data-target" => "#reset-coin-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  Reset Coin
              -# %a.btn.btn-default.btn-block{"data-target" => "#get-term-totals-modal", "data-toggle" => "modal", :type => "button"}
              #commands-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      -#
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                      %h5.modal-title
                        %i.fa.fa-arrows-alt
                        ATM Commands
                    .modal-body
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_reset"), "data-device-id" => @device.id, "data-command" => "atm_reset", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Reset"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Reset
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_load"), "data-device-id" => @device.id, "data-command" => "atm_load", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Load"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Load
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_up"), "data-device-id" => @device.id, "data-command" => "atm_up", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Up"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Up
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_down"), "data-device-id" => @device.id, "data-command" => "atm_down", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Down"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Down
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_disconnect"), "data-device-id" => @device.id, "data-command" => "atm_disconnect", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Disconnect"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Disconnect
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Done
              #add-cash-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      %h5.modal-title
                        Add Cash
                    .modal-body
                      = form_tag add_cash_device_path(@device), method: 'get', class: 'form-horizontal' do |f|
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_1, nil, :placeholder => "Bin 1", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_2, nil, :placeholder => "Bin 2", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_3, nil, :placeholder => "Bin 3", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_4, nil, :placeholder => "Bin 4", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_5, nil, :placeholder => "Bin 5", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_6, nil, :placeholder => "Bin 6", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_7, nil, :placeholder => "Bin 7", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_8, nil, :placeholder => "Bin 8", class: "form-control"
                        .modal-footer
                          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                          %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
                            Submit
              #reset-cash-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      %h5.modal-title
                        Reset Cash
                    .modal-body
                      = form_tag reset_cash_device_path(@device), method: 'get', class: 'form-horizontal' do |f|
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_1, nil, :placeholder => "Bin 1", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_2, nil, :placeholder => "Bin 2", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_3, nil, :placeholder => "Bin 3", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_4, nil, :placeholder => "Bin 4", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_5, nil, :placeholder => "Bin 5", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_6, nil, :placeholder => "Bin 6", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_7, nil, :placeholder => "Bin 7", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_8, nil, :placeholder => "Bin 8", class: "form-control"
                        .modal-footer
                          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                          %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
                            Submit
              #add-coin-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      %h5.modal-title
                        Add Coin
                    .modal-body
                      = form_tag add_coin_device_path(@device), method: 'get', class: 'form-horizontal' do |f|
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_1, nil, :placeholder => "Bin 1", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_2, nil, :placeholder => "Bin 2", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_3, nil, :placeholder => "Bin 3", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_4, nil, :placeholder => "Bin 4", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_5, nil, :placeholder => "Bin 5", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_6, nil, :placeholder => "Bin 6", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_7, nil, :placeholder => "Bin 7", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_8, nil, :placeholder => "Bin 8", class: "form-control"
                        .modal-footer
                          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                          %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
                            Submit
              #reset-coin-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      %h5.modal-title
                        Add Coin
                    .modal-body
                      = form_tag reset_coin_device_path(@device), method: 'get', class: 'form-horizontal' do |f|
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_1, nil, :placeholder => "Bin 1", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_2, nil, :placeholder => "Bin 2", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_3, nil, :placeholder => "Bin 3", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_4, nil, :placeholder => "Bin 4", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_5, nil, :placeholder => "Bin 5", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_6, nil, :placeholder => "Bin 6", class: "form-control"
                        .form-group.row
                          .col-sm-6
                            = text_field_tag :bin_7, nil, :placeholder => "Bin 7", class: "form-control"
                          .col-sm-6
                            = text_field_tag :bin_8, nil, :placeholder => "Bin 8", class: "form-control"
                        .modal-footer
                          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                          %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
                            Submit
        .col-md-9
          .box.box-primary
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                -#
                  %li.nav-item
                    %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                      %i.fa.fa-bolt
                      = "Transactions" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link.active{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-signal
                    = "Statuses" unless browser.device.mobile?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-credit-card
                    = "Cuts" unless browser.device.mobile?
                %li.nav-item
                  %a#bins-tab.nav-link{"aria-controls" => "bins", "aria-selected" => "false", "data-toggle" => "tab", :href => "#bins", :role => "tab"} 
                    %i.fa.fa-inbox
                    = "Bins" unless browser.device.mobile?
                -#
                  %li.nav-item
                    %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                      %i.fa.fa-info-circle
                      = "Acounts" unless browser.device.mobile?
              #myTabContent.tab-content
                -#
                  #transactions.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    = render partial: "transactions/index"
                #statuses.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .row
                    .col-md-6
                      .box.box-success
                        .box-header.with_border
                          .box-title
                            ATM
                        .box-body
                          = render partial: "dev_statuses/index"
                    .col-md-6
                      .box.box-warning
                        .box-header.with_border
                          .box-title
                            Cassettes
                        .box-body
                          = render partial: "cassettes"
                #cuts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "cuts"
                -#
                  #accounts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    Accounts
                  .box.box-primary{"data-widget" => "box-widget"}
                #bins.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .box.box-warning
                    .box-header.with-border
                      .box-title
                        Host
                      .box-body
                        .table-responsive
                          %table.table.table-striped.table-condensed.table-bordered
                            %thead
                              %tr
                                - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                  %th{:scope => "col"} 1
                                - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                  %th{:scope => "col"} 2
                                - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                  %th{:scope => "col"} 3
                                - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                  %th{:scope => "col"} 4
                                - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                  %th{:scope => "col"} 5
                                - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                  %th{:scope => "col"} 6
                                - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                  %th{:scope => "col"} 7
                                - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                  %th{:scope => "col"} 8
                            %tbody
                              %tr
                                = render partial: "devices/bin_details", locals: {device: @device}  
                  - unless @term_totals.blank?
                    .box.box-warning
                      .box-header.with-border
                        .box-title
                          Term
                        .box-body
                          .table-responsive
                            %table.table.table-striped.table-condensed.table-bordered
                              %thead
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %th{:scope => "col"} 1
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %th{:scope => "col"} 2
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %th{:scope => "col"} 3
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %th{:scope => "col"} 4
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %th{:scope => "col"} 5
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %th{:scope => "col"} 6
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %th{:scope => "col"} 7
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %th{:scope => "col"} 8
                              %tbody
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %td= @term_totals['bin1']
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %td= @term_totals['bin2']
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %td= @term_totals['bin3']
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %td= @term_totals['bin4']
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %td= @term_totals['bin5']
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %td= @term_totals['bin6']
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %td= @term_totals['bin7']
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %td= @term_totals['bin8']
                  %p
                    %a.btn.btn-default{href: get_term_totals_device_path(@device), :type => "button"}
                      Get Term Totals
                
:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });