.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.id
        = @device.description
        %small
          = form_tag @device, id: 'device_refresh_form', method: 'get', class: 'form-inline' do |f|
            .input-group
              %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"}}
                %i.fa.fa-refresh
      %p.text-muted
        Remaining:
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          .box.box-primary
            .box-body.box-profile{id: "atm_profile_box"}
              %h3.profile-username.text-center= "ATM: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                -#
                  %li.list-group-item
                    %b 
                      %i.fa.fa-bolt.margin-r-5
                      Transactions in 30 days
                    %a.pull-right= @withdrawal_transactions.count
                %li.list-group-item
                  %b 
                    %i.fa.fa-signal.margin-r-5
                    Recent Status
                  - unless @most_recent_dev_status.blank?
                    %a.btn.btn-sm.bg-green.pull-right{"data-content" => "#{@most_recent_dev_status.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0"} 
                      = @most_recent_dev_status.status
                      -#
                        - if @device.critical_status?
                          %a.btn.btn-xs.btn-danger{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                        - elsif @device.caution_status?
                          %a.btn.btn-xs.btn-warning{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                        - else
                          = @device.status_string
                %li.list-group-item
                  %b 
                    Withdrawals
                  .pull-right= @transactions.count
                  %br
                  %b 
                    Average
                  .pull-right= number_to_currency(@transactions_average_amount.round)
                  
                %li.list-group-item
                  %b 
                    %i.fa.fa-money.margin-r-5
                    Total
                  .pull-right= number_to_currency(@transactions_total)
                -#
                  %li.list-group-item
                    %b 
                      %i.fa.fa-gears.margin-r-5
                      Actions
                    -# %a.pull-right And more info
              - if device_state_descriptions[@device.online] == "Ready" or device_state_descriptions[@device.online] == "Down"
                %a.btn.btn-default.btn-block{"data-target" => "#commands-modal", "data-toggle" => "modal", :type => "button"}
                  %b
                    %i.fa.fa-arrows-alt
                    Commands
                %a.btn.btn-default.btn-block{"data-target" => "#replenish-modal", "data-toggle" => "modal", :type => "button"}
                  %b
                    %i.fa.fa-inbox
                    Replenish
                -#
                  %a.btn.btn-default.btn-block{class: "replenish_command_button", "data-device-id" => @device.id, "data-target" => "#add-cash-modal", "data-toggle" => "modal", :type => "button"}
                    %b Add Cash
                  %a.btn.btn-default.btn-block{class: "replenish_command_button", "data-device-id" => @device.id, "data-target" => "#reset-cash-modal", "data-toggle" => "modal", :type => "button"}
                    %b Reset Cash
                  - unless @bin_5_denomination.blank? and @bin_6_denomination.blank? and @bin_7_denomination.blank? and @bin_8_denomination.blank?
                    %a.btn.btn-default.btn-block{class: "replenish_command_button", "data-device-id" => @device.id, "data-target" => "#add-coin-modal", "data-toggle" => "modal", :type => "button"}
                      %b Add Coin
                    %a.btn.btn-default.btn-block{class: "replenish_command_button", "data-device-id" => @device.id, "data-target" => "#reset-coin-modal", "data-toggle" => "modal", :type => "button"}
                      %b Reset Coin
                  %a.btn.btn-default.btn-block{href: cash_position_device_path(@device), target: '_blank;', :type => "button"}
                    %b Cash Position
              - else
                %p.text-danger
                  %i.fa.fa-warning
                  Waiting for ATM to be ready...
              
              = render partial: 'commands_modal'
              = render partial: 'replenish_modal'
              = render partial: 'add_cash_modal'
              = render partial: 'reset_cash_modal'
              = render partial: 'add_coin_modal'
              = render partial: 'reset_coin_modal'

        .col-md-9
          .box.box-primary
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                %li.nav-item
                  %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                    %i.fa.fa-money
                    = "Withdrawals" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-signal
                    = "Statuses" unless browser.device.mobile?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-credit-card
                    = "Cuts" unless browser.device.mobile?
                %li.nav-item
                  %a#bins-tab.nav-link{"aria-controls" => "bins", "aria-selected" => "false", "data-toggle" => "tab", :href => "#bins", :role => "tab"} 
                    %i.fa.fa-inbox
                    = "Bins" unless browser.device.mobile?
                -#
                  %li.nav-item
                    %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                      %i.fa.fa-info-circle
                      = "Acounts" unless browser.device.mobile?
              #myTabContent.tab-content
                #transactions.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "transactions/index"
                  .pull-right= paginate @transactions, param_name: 'transactions_page'
                #statuses.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .row
                    .col-md-6
                      .box.box-success
                        .box-header.with_border
                          .box-title
                            ATM
                        .box-body
                          = render partial: "dev_statuses/index"
                        .box-footer
                          .pull-right= paginate @dev_statuses, param_name: 'dev_statuses_page'
                    .col-md-6
                      .box.box-warning
                        .box-header.with_border
                          .box-title
                            Cassettes
                        .box-body
                          = render partial: "cassettes"
                #cuts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "cuts"
                -#
                  #accounts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    Accounts
                  .box.box-primary{"data-widget" => "box-widget"}
                #bins.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .box.box-warning
                    .box-header.with-border
                      .box-title
                        Host
                      .box-body
                        .table-responsive
                          %table.table.table-striped.table-condensed.table-bordered
                            %thead
                              %tr
                                - @device.denoms.each do |denom|
                                  - unless denom.denomination.zero?
                                    %th{:scope => "col"}
                                      = "Bin #{denom.cassette_id}: "
                                      = number_to_currency(denom.denomination, strip_insignificant_zeros: true)
                                -#
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %th{:scope => "col"} Bin 1
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %th{:scope => "col"} Bin 2
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %th{:scope => "col"} Bin 3
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %th{:scope => "col"} Bin 4
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %th{:scope => "col"} Bin 5
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %th{:scope => "col"} Bin 6
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %th{:scope => "col"} Bin 7
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %th{:scope => "col"} Bin 8
                            %tbody
                              %tr
                                = render partial: "devices/bin_details", locals: {device: @device}  
                  - unless @term_totals.blank?
                    .box.box-warning
                      .box-header.with-border
                        .box-title
                          Term
                        .box-body
                          .table-responsive
                            %table.table.table-striped.table-condensed.table-bordered
                              %thead
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %th{:scope => "col"} 1
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %th{:scope => "col"} 2
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %th{:scope => "col"} 3
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %th{:scope => "col"} 4
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %th{:scope => "col"} 5
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %th{:scope => "col"} 6
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %th{:scope => "col"} 7
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %th{:scope => "col"} 8
                              %tbody
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %td= @term_totals['bin1']
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %td= @term_totals['bin2']
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %td= @term_totals['bin3']
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %td= @term_totals['bin4']
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %td= @term_totals['bin5']
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %td= @term_totals['bin6']
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %td= @term_totals['bin7']
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %td= @term_totals['bin8']
                  -#
                    %p
                      %a.btn.btn-default{href: get_term_totals_device_path(@device), :type => "button"}
                        Get Term Totals
                
:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });