.content-wrapper
  .container-fluid
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.id
        = @device.description
        %small
          = form_tag @device, id: 'device_refresh_form', method: 'get', class: 'form-inline' do |f|
            .input-group
              %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"}}
                %i.fa.fa-refresh
      %p.text-muted
        Remaining:
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-2
          .box{class: "#{@device.online == 0 ? 'box-success' : @device.online == 1 ? 'box-danger' : 'box-warning'}"}
            .box-body.box-profile{id: "atm_profile_box"}
              %h3.profile-username.text-center= "ATM: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                %li.list-group-item
                  %b 
                    %i.fa.fa-signal.margin-r-5
                    Recent Status
                  - unless @most_recent_dev_status.blank?
                    %a.btn.btn-sm.bg-green.pull-right{"data-content" => "#{@most_recent_dev_status.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0"} 
                      = @most_recent_dev_status.status
                %li.list-group-item
                  %b 
                    Withdrawals
                  .pull-right= @withdrawal_transactions.count
                  %br
                  %b 
                    Average
                  .pull-right= number_to_currency(@transactions_average_amount.round)
                  
                %li.list-group-item
                  %b 
                    %i.fa.fa-money.margin-r-5
                    Total
                  .pull-right= number_to_currency(@transactions_total)
                - unless @withdrawal_transactions.blank?
                  %li.list-group-item
                    %b
                      %i.fa.fa-inbox.margin-r-5
                      Dispensed
                    %br
                    Bin 1
                    .pull-right= @bin1_dispensed
                    %br
                    Bin 2
                    .pull-right= @bin2_dispensed
                    %br
                    Bin 3
                    .pull-right= @bin3_dispensed
                    %br
                    Bin 4
                    .pull-right= @bin4_dispensed
                %li.list-group-item
                  - if device_state_descriptions[@device.online] == "Ready" or device_state_descriptions[@device.online] == "Down"
                    %a.btn.btn-default.btn-block{"data-target" => "#commands-modal", "data-toggle" => "modal", :type => "button"}
                      %b
                        %i.fa.fa-arrows-alt
                        Commands
                    %a.btn.btn-default.btn-block{"data-target" => "#replenish-modal", "data-toggle" => "modal", :type => "button"}
                      %b
                        %i.fa.fa-inbox
                        Replenish
                  - else
                    %p.text-danger
                      %i.fa.fa-warning
                      Waiting for ATM to be ready...
              
              = render partial: 'commands_modal'
              = render partial: 'replenish_modal'
              = render partial: 'add_cash_modal'
              = render partial: 'reset_cash_modal'
              = render partial: 'add_coin_modal'
              = render partial: 'reset_coin_modal'

        .col-md-10
          .box{class: "#{@device.online == 0 ? 'box-success' : @device.online == 1 ? 'box-danger' : 'box-warning'}"}
            .box-header.with-border
              = form_tag device_path(@device), :method => 'get', :class => "form-inline" do
                = text_field_tag :start_date, nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                To
                = text_field_tag :end_date, nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                &nbsp;
                = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                  %i.fa.fa-search
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                %li.nav-item
                  %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                    %i.fa.fa-money
                    = "Withdrawals" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-signal
                    = "Statuses" unless browser.device.mobile?
                -# unless @cut_transactions.blank?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-inbox
                    = "Bins" unless browser.device.mobile?
                -# if @cut_transactions.blank?
                -#
                  %li.nav-item
                    %a#bins-tab.nav-link{"aria-controls" => "bins", "aria-selected" => "false", "data-toggle" => "tab", :href => "#bins", :role => "tab"} 
                      %i.fa.fa-inbox
                      = "Bins" unless browser.device.mobile?
              #myTabContent.tab-content
                #transactions.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "transactions/index"
                  -#
                    .pull-right= paginate @transactions, param_name: 'transactions_page'
                  %div{id: 'withdrawals_endless_page'}
                    %br
                    %p.text-center{id: "withdrawals_spinner", style: 'display:none;'}
                      %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
                      %span.sr-only Loading...
                    %p.text-center= link_to "Load More...", device_path(@device, :transactions_page => @transactions.next_page, start_date: @start_date, end_date: @end_date), :class => 'load-more-withdrawals btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#withdrawals_spinner').show();" if @transactions.next_page

                #statuses.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .row
                    .col-md-6
                      .box
                        .box-header.with_border
                          .box-title
                            ATM
                        .box-body
                          = render partial: "dev_statuses/index"
                          %div{id: 'dev_statuses_endless_page'}
                            %br
                            %p.text-center{id: "dev_statuses_spinner", style: 'display:none;'}
                              %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
                              %span.sr-only Loading...
                            %p.text-center= link_to "Load More...", device_path(@device, :dev_statuses_page => @dev_statuses.next_page, start_date: @start_date, end_date: @end_date), :class => 'load-more-dev-statuses btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#dev_statuses_spinner').show();" if @dev_statuses.next_page
                          
                    .col-md-6
                      .box
                        .box-header.with_border
                          .box-title
                            Cassettes
                        .box-body
                          = render partial: "cassettes"
                  =# paginate @dev_statuses, param_name: 'dev_statuses_page'
                -# unless @cut_transactions.blank?
                #cuts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  -# Current Cycle #-
                  .box
                    .box-header.with-border
                      -# last_cut_transaction = @cut_transactions.last unless @cut_transactions.blank?
                      %h3.box-title
                        =# last_cut_transaction.date_time.strftime('%-m/%-d/%y %H:%M:%S')
                        Current
                      .box-tools.pull-right
                        %button.btn.btn-default.btn-sm{id: "device_#{@device.id}_dollar_amount_button", onclick: "$('.device_#{@device.id}_dollar_amount').show(); $('.device_#{@device.id}_bill_count').hide(); $(this).hide(); $('#device_#{@device.id}_bill_count_button').show();", :type => "button"}
                          %i.fa.fa-dollar
                          Dollar Amount
                        %button.btn.btn-default.btn-sm{id: "device_#{@device.id}_bill_count_button", onclick: "$('.device_#{@device.id}_dollar_amount').hide(); $('.device_#{@device.id}_bill_count').show(); $(this).hide(); $('#device_#{@device.id}_dollar_amount_button').show();", :type => "button", style: "display: none;"}
                          %i.fa.fa-hashtag
                          Bill Count
                        %button.btn.btn-box-tool{id: "device_#{@device.id}_expand_bin_details", onclick: "$('.device_#{@device.id}_bin_details').fadeIn(); $(this).hide(); $('#device_#{@device.id}_collapse_bin_details').show();", :type => "button"}
                          %i.fa.fa-angle-up
                          Details
                        %button.btn.btn-box-tool{id: "device_#{@device.id}_collapse_bin_details", onclick: "$('.device_#{@device.id}_bin_details').fadeOut(); $(this).hide(); $('#device_#{@device.id}_expand_bin_details').show();", :type => "button", style: "display: none;"}
                          %i.fa.fa-angle-down
                          Details
                    .box-body.no-padding
                      .table-responsive
                        %table.table.table-striped.table-condensed.table-borderless
                          %tbody
                            %tr{class: "device_#{@device.id}_bin_details", style: "display: none;"}
                              %td{style: 'width: 10%;'}
                                .pull-right
                                  %br
                                  %strong Start
                                  %br
                                  %strong Added
                                  %br
                                  %strong Dispensed
                              = render partial: "devices/bin_details", locals: {device: @device}
                            %tr
                              -#
                                %td= @device.id
                                %td= @device.description
                              %td{style: 'width: 10%;', class: "device_#{@device.id}_bin_details", style: 'display:none;'}
                                .pull-right
                                  %strong Remaining
                              = render partial: "devices/bin_basics", locals: {device: @device}
                  = render partial: "cuts"
                -# if @cut_transactions.blank?
                -#
                  #bins.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    %br
                    .box
                      .box-header.with-border
                        -# last_cut_transaction = @cut_transactions.last unless @cut_transactions.blank?
                        %h3.box-title
                          =# last_cut_transaction.date_time.strftime('%-m/%-d/%y %H:%M:%S')
                          Current
                        .box-tools.pull-right
                          %button.btn.btn-default.btn-sm{id: "device_#{@device.id}_dollar_amount_button", onclick: "$('.device_#{@device.id}_dollar_amount').show(); $('.device_#{@device.id}_bill_count').hide(); $(this).hide(); $('#device_#{@device.id}_bill_count_button').show();", :type => "button"}
                            %i.fa.fa-dollar
                            Dollar Amount
                          %button.btn.btn-default.btn-sm{id: "device_#{@device.id}_bill_count_button", onclick: "$('.device_#{@device.id}_dollar_amount').hide(); $('.device_#{@device.id}_bill_count').show(); $(this).hide(); $('#device_#{@device.id}_dollar_amount_button').show();", :type => "button", style: "display: none;"}
                            %i.fa.fa-hashtag
                            Bill Count
                          %button.btn.btn-box-tool{id: "device_#{@device.id}_expand_bin_details", onclick: "$('.device_#{@device.id}_bin_details').fadeIn(); $(this).hide(); $('#device_#{@device.id}_collapse_bin_details').show();", :type => "button"}
                            %i.fa.fa-angle-up
                            Details
                          %button.btn.btn-box-tool{id: "device_#{@device.id}_collapse_bin_details", onclick: "$('.device_#{@device.id}_bin_details').fadeOut(); $(this).hide(); $('#device_#{@device.id}_expand_bin_details').show();", :type => "button", style: "display: none;"}
                            %i.fa.fa-angle-down
                            Details
                      .box-body.no-padding
                        .table-responsive
                          %table.table.table-striped.table-condensed.table-borderless
                            %tbody
                              %tr{class: "device_#{@device.id}_bin_details", style: "display: none;"}
                                %td{style: 'width: 10%;'}
                                  .pull-right
                                    %br
                                    %strong Start
                                    %br
                                    %strong Added
                                    %br
                                    %strong Dispensed
                                = render partial: "devices/bin_details", locals: {device: @device}
                              %tr
                                -#
                                  %td= @device.id
                                  %td= @device.description
                                %td{style: 'width: 10%;', class: "device_#{@device.id}_bin_details", style: 'display:none;'}
                                  .pull-right
                                    %strong Remaining
                                = render partial: "devices/bin_basics", locals: {device: @device}  
                  - unless @term_totals.blank?
                    .box.box-warning
                      .box-header.with-border
                        .box-title
                          Term
                        .box-body
                          .table-responsive
                            %table.table.table-striped.table-condensed.table-bordered
                              %thead
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %th{:scope => "col"} 1
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %th{:scope => "col"} 2
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %th{:scope => "col"} 3
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %th{:scope => "col"} 4
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %th{:scope => "col"} 5
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %th{:scope => "col"} 6
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %th{:scope => "col"} 7
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %th{:scope => "col"} 8
                              %tbody
                                %tr
                                  - if @device.bin_1_count != 0 and @device.bin_1_count != nil
                                    %td= @term_totals['bin1']
                                  - if @device.bin_2_count != 0 and @device.bin_2_count != nil
                                    %td= @term_totals['bin2']
                                  - if @device.bin_3_count != 0 and @device.bin_3_count != nil
                                    %td= @term_totals['bin3']
                                  - if @device.bin_4_count != 0 and @device.bin_4_count != nil
                                    %td= @term_totals['bin4']
                                  - if @device.bin_5_count != 0 and @device.bin_5_count != nil
                                    %td= @term_totals['bin5']
                                  - if @device.bin_6_count != 0 and @device.bin_6_count != nil
                                    %td= @term_totals['bin6']
                                  - if @device.bin_7_count != 0 and @device.bin_7_count != nil
                                    %td= @term_totals['bin7']
                                  - if @device.bin_8_count != 0 and @device.bin_8_count != nil
                                    %td= @term_totals['bin8']
                  -#
                    %p
                      %a.btn.btn-default{href: get_term_totals_device_path(@device), :type => "button"}
                        Get Term Totals
                
:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });