.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-user
        = "#{@user.full_name}"
        %small.text-muted= "(#{@user.role.humanize})"
        = link_to 'Edit', edit_users_admin_path(@user), class: 'btn bg-orange'
      .box.box-primary
        .box-header.with-border
          %h3.box-title Info
        .box-body
          - unless @user.customer.blank?
            %br
            %a{href: customer_path(@user.customer)}
              Account
              %i.fa.fa-chevron-right
            %br
          Email:
          = @user.email
          %br
          Phone:
          = @user.phone
          %br
          - if @user.confirmed?
            Sign In Count:
            = @user.sign_in_count
            %br
            Current Sign In At:
            = @user.current_sign_in_at.in_time_zone(current_user.time_zone).strftime('%-m/%-d/%Y') unless @user.current_sign_in_at.blank?
            %br
            Last Sign In At:
            = @user.last_sign_in_at.in_time_zone(current_user.time_zone).strftime('%-m/%-d/%Y') unless @user.last_sign_in_at.blank?
            %br
            Current Sign In IP:
            = @user.current_sign_in_ip
            %br
            Last Sign In IP:
            = @user.last_sign_in_ip
          - else
            .text-danger Waiting for user to confirm account
      
      - unless @devices.blank?
        .box.box-primary
          .box-header.with-border
            %h3.box-title Devices
          .box-body
            - @devices.each do |device|
              = link_to device.description, device
              %br
      - unless @admin_events.blank?
        .box.box-primary
          .box-header.with-border
            %h3.box-title Admin Events
          .box-body
            - @admin_events.each do |event|
              = link_to event.title, event
              %br
      - if @user.collaborator?
        .box.box-primary
          .box-header.with-border
            %h3.box-title Permissions
          .box-body
            %table.table.table-condensed
              %thead
                %tr
                  %th{:scope => "col"} View Events
                  %th{:scope => "col"} Edit Events
                  %th{:scope => "col"} View Wallet Types
                  %th{:scope => "col"} Edit Wallet Types
                  %th{:scope => "col"} View Accounts
                  %th{:scope => "col"} Edit Accounts
                  %th{:scope => "col"} View Users
                  %th{:scope => "col"} Edit Users
                  %th{:scope => "col"} View ATMs
                  %th{:scope => "col"} Quick Pay
              
              %tbody
                %tr
                  %td= @user.view_events? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.edit_events? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.view_wallet_types? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.edit_wallet_types? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.view_accounts? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.edit_accounts? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.view_users? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.edit_users? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.view_atms? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe
                  %td= @user.can_quick_pay? ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-ban'></i>".html_safe

    -#
      / Main content
      %section.content
        / Default box
        .box.box-primary
          .box-header.with-border
            %h3.box-title 
              Admins
            .box-tools.pull-right
              %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
                %i.fa.fa-minus
              %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
                %i.fa.fa-times
          .box-body.no-padding
            %table.table.table-condensed
              %thead
                %tr
                  %th{:scope => "col"} #
                  %th{:scope => "col"} First
                  %th{:scope => "col"} Last
                  %th{:scope => "col"} Phone
                  %th{:scope => "col"} Email
                  %th
              %tbody
                - @admin_users.each do |admin_user|
                  %tr
                    %th{:scope => "row"}= admin_user.id
                    %td= admin_user.first_name
                    %td= admin_user.last_name
                    %td= admin_user.phone
                    %td= admin_user.email
                    %td= link_to 'More', admin_user, class: 'btn btn-primary btn-sm'
        .box.box-primary
          .box-header.with-border
            %h3.box-title 
              Payees
            .box-tools.pull-right
              %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
                %i.fa.fa-minus
              %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
                %i.fa.fa-times
          .box-body.no-padding
            %table.table.table-condensed
              %thead
                %tr
                  %th{:scope => "col"} #
                  %th{:scope => "col"} First
                  %th{:scope => "col"} Last
                  %th{:scope => "col"} Phone
                  %th{:scope => "col"} Email
                  %th
              %tbody
                - @payee_users.each do |payee_user|
                  %tr
                    %th{:scope => "row"}= payee_user.id
                    %td= payee_user.first_name
                    %td= payee_user.last_name
                    %td= payee_user.phone
                    %td= payee_user.email
                    %td= link_to 'More', payee_user, class: 'btn btn-primary btn-sm'