#quick_pay.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_tag quick_pay_transactions_path, id: 'quick_pay_form', method: 'post', multipart: true, class: 'form-horizontal' do |f|
          =# hidden_field_tag :device_id, @device.id
          .input-group.mb-3
            .input-group-prepend
              %span.input-group-text $
            =# number_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg", required: true, step: '1', autofocus: true, :inputmode => "numeric", :min => "0", :pattern => "[0-9]*"
            = text_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg", required: true, autofocus: true, :pattern => "[0-9]*"
            .input-group-append
              %span.input-group-text .00
          - if current_user.collaborator?
            - if current_user.admin_events.count > 1
              .form-group
                = select_tag :event_id, options_from_collection_for_select(current_user.admin_events, "id", "title"), class: "form-control"
            - elsif current_user.admin_events.count == 1
              = hidden_field_tag :event_id, current_user.admin_events.first.id
          .form-group
            = text_field_tag :receipt_number, nil, :placeholder => "Reference Number", class: "form-control input-lg", style: "width: 100%;"
          .form-group
            = text_area_tag :note, nil, :placeholder => "Note", class: "form-control input-lg", style: "width: 100%;"
          = image_tag('', id: 'file_image', class: 'img-responsive transaction-img')
          .form-group
            = file_field_tag "file", id: 'transaction_file', onchange: "PreviewImage();", class: 'btn btn-sm bg-orange', title: "<i class='fa fa-upload'/> Picture".html_safe
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{id: 'quick_pay_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay & Print"}} 
              %i.fa.fa-dollar
              Pay & Print

:javascript
  $('.modal').on('shown.bs.modal', function() {
    $(this).find('[autofocus]').first().focus();
  });

  function PreviewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("transaction_file").files[0]);

    oFReader.onload = function (oFREvent) {
      document.getElementById("file_image").src = oFREvent.target.result;
    };
  };

  // Prettier file upload buttons
  // Make sure wrapper hasn't already been applied
  if (document.querySelector('.file-input-wrapper') === null) {
    $('input[type=file]').bootstrapFileInput();
  };

-#
  $('#one_time_payment_pay_and_print_button').click(function() {
    var payment_amount = $('#amount' ).val();
    if (payment_amount > 0) {
      var url = "#{barcode_customer_url(@barcode_access_string)}";
      window.open(url, '_blank');
      }
    else {
      alert('Please enter amount');
    }
  });