.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-calendar
        Events
        %small= link_to 'New', new_event_path, class: 'btn bg-orange'
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            - unless browser.device.mobile?
              - unless @events.blank?
                -# %a{href: customers_path(format: "csv", q: params[:q], type: @type), class: 'btn btn-info btn-sm'}
                %a{href: '#', class: 'btn btn-info btn-sm'}
                  %i.fa.fa-download
                  Download CSV
            - else
              = form_tag events_path, id: 'events_search_form', method: 'get', class: 'form-inline' do |f|
                .input-group
                  = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true, style: 'width: 75%'
                  .input-group-append
                    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                      %i.fa.fa-search
          - unless browser.device.mobile?
            .box-tools
              = form_tag events_path, id: 'events_search_form', method: 'get', class: 'form-inline' do |f|
                .input-group
                  = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                  .input-group-append
                    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                      %i.fa.fa-search
          %br
          %small.text-muted
            = "#{pluralize(number_with_delimiter(@events.count), 'event')} found"

        .box-body.no-padding
          .table-responsive
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th Title
                  - unless current_user.caddy_admin?
                    %th Join Code
                  %th Start 
                  %th End
                  %th Expire Accounts
                  %th
              %tbody
                - @events.each do |event|
                  %tr
                    %td= event.title
                    - unless current_user.caddy_admin?
                      %td= event.join_code
                    %td= event.start_date
                    %td= event.end_date
                    %td= event.expire_accounts? ? 'Yes' : 'No'
                    %td
                      = link_to "Show", event, class: 'btn btn-secondary'
                      = link_to "Edit", edit_event_path(event), class: 'btn btn-primary'
                    
        .box-footer
          -#
            .pull-right= paginate @events