.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-calendar
        = @event.title
    / Main content
    %section.content
      / Default box
      .box.box-primary
        -#
          .box-header.with-border
            %h3.box-title 
            .box-tools.pull-right
              Box tools
        .box-body
          %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
            %li.nav-item
              %a#details-tab.nav-link.active{"aria-controls" => "details", "aria-selected" => "true", "data-toggle" => "tab", :href => "#details", :role => "tab"} 
                Details
            -#
              %li.nav-item
                %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                  Accounts
          #myTabContent.tab-content
            #details.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
              %br
              .row
                .col-xs-12.col-sm-6
                  %p.lead
                    %strong Title:
                    = @event.title  
                  %p.lead
                    %strong Expire Accounts:
                    = @event.expire_accounts? ? 'Yes' : 'No'
                  %p.lead
                    %strong Start:
                    = @event.start_date
                    %strong End:
                    = @event.end_date
                  - unless @event.join_code.blank?
                    .box.box-default
                      .box-header.with-border
                        .box-title 
                          %i.fa.fa-commenting
                          Join by SMS
                      .box-body
                        %p.lead
                          %strong Phone:
                          - unless @event.company.blank? or @event.company.twilio_number.blank?
                            = @event.company.twilio_number.pretty_phone_number
                          - else
                            = number_to_phone(ENV["FROM_PHONE_NUMBER"].gsub(/\+1/, ''))
                        %p.lead
                          %strong Join Code:
                          = @event.join_code
                        %p.lead
                          %strong Join Response:
                          = @event.join_response
                        %p.lead
                          %strong Join by SMS Wallet Type:
                          = @event.join_by_sms_wallet_type.description unless @event.join_by_sms_wallet_type.blank?
                        %p.lead
                          %strong Join by SMS Account Active Status:
                          = @event.join_active_status? ? 'Active' : 'Inactive'

              .pull-right
                %br
                %p= link_to 'Delete', @event, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure you want to delete?' } if current_user.can_edit_events?
            -#   
              #accounts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                - unless @event.accounts.blank?
                  .table-responsive
                    %table.table.table-striped.table-condensed
                      %thead
                        %tr
                          %th ID
                          %th User 
                          %th Balance
                          %th
                      %tbody
                        - @event.accounts.each do |account|
                          %tr
                            %td= account.id
                            %td
                              - unless (account.user.blank? and account.customer.blank?)
                                = link_to "#{account.customer_user_name} (#{account.description})", customer_path(account.customer.id, account_id: account.id)
                              - else
                                N/A
                            %td= number_to_currency(account.Balance)
                            %td= link_to "Show", account, class: 'btn btn-sm btn-secondary'
                - else
                  .container
                    .jumbotron{style: "background-color: transparent;"}
                      %h3.text-center
                        No accounts yet

          .box-footer
            = link_to 'Back', :back, class: 'btn btn-default'
            = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' if current_user.can_edit_events?
            
            