%div{:id => "request_payment_details"}
  = form_tag quick_purchase_transactions_path, id: 'quick_purchase_form', method: 'post', class: 'form-inline' do |f|
    = hidden_field_tag :to_account_id, current_user.customer.account.id
    .input-group.input-group-lg.mb-3
      .input-group-prepend
        %span.input-group-text $
      = number_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg",  required: true, step: '1', autofocus: true, :inputmode => "numeric", :min => "0", :pattern => "[0-9]*"
      .input-group-append
        %span.input-group-text .00
    %p{id: 'consumer_details'}
      = hidden_field_tag :barcode_number
      = hidden_field_tag :company_id, @account.CompanyNumber
      = hidden_field_tag :customer_barcode_id
      =# hidden_field_tag :from_account_id
    #request_payment_button_group.btn-group{style: 'display:none;'}
      -# if current_user.caddy?
      %a.btn.btn-default.btn-lg{id: 'open_buddy_search_button', href: "#request_payment_buddy_search_modal", "data-target" => "#request_payment_buddy_search_modal", "data-toggle" => "modal"}
        %i.fa.fa-search
        Search
      %a.btn.btn-default.btn-lg{id: 'open_request_payment_qrcode_scanner_button', href: "#request_payment_qrcode_scanner_modal", "data-target" => "#request_payment_qrcode_scanner_modal", "data-toggle" => "modal"}
        %i.fa.fa-qrcode
        Scan Code
    %div{id: "request_payment_scan_spinner", style: 'display:none;'}
      %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
    = link_to "Cancel", nil, id: 'quick_purchase_cancel_button', :onclick => "javascript:window.location.reload()", style: 'display: none;', class: 'btn btn-default btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Cancel"}
    %button.btn.btn-primary.btn-lg{id: 'quick_purchase_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}, style: 'display: none;'} 
      Submit

    .modal.fade{id: "request_payment_buddy_search_modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm{:role => "document"}
        .modal-content
          .modal-header
            Select Person for Payment Request
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
          .modal-body
            %p
              %strong
                Amount:
                %span{class: 'request_payment_amount'}
            =# select_tag :from_account_id, options_from_collection_for_select(@account.buddies, "id", "customer_user_name"), class: "form-control input-lg", style: 'width:100%', prompt: 'Search/Select'
            = select_tag :from_account_id, options_from_collection_for_select(@event.member_accounts, "id", "customer_user_name"), class: "form-control input-lg", style: 'width:100%', prompt: 'Search/Select'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{id: 'quick_purchase_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
              Submit

  .modal.fade{id: "request_payment_qrcode_scanner_modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm{:role => "document"}
      .modal-content
        .modal-header
          Scan QR Code for Payment
          = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
        .modal-body
          %p
            %strong
              Amount:
              %span{class: 'request_payment_amount'}
          %video#video{:style => "border: 1px solid green; width: 100%; height: auto;"}
        .modal-footer
          = link_to "Cancel", '#', :class => "btn btn-default", "data-dismiss" => "modal"

= audio_tag asset_path("cash_register.mp3"), class: "cash_register_chime"

:javascript
  $('#request_payment_details').on('keyup', '#amount', function() {
    var amount;
    amount = parseFloat($('#amount').val());
    if (amount > 0) {
      $('#request_payment_button_group').show();
      return true;
    } else {
      $('#request_payment_button_group').hide();
      return false;
    }
  });