%div{:id => "request_payment_details"}
  = form_tag quick_purchase_transactions_path, id: 'quick_purchase_form', method: 'post', multipart: true, class: 'form-inline' do |f|
    =# hidden_field_tag :to_account_id, current_user.customer.account.id
    = hidden_field_tag :to_account_id, @account.id
    .input-group.input-group-lg.mb-3
      .input-group-prepend
        %span.input-group-text $
      = text_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg", required: true, autofocus: true, :pattern => "[0-9]*"
      .input-group-append
        %span.input-group-text .00
    %p{id: 'consumer_details'}
      = hidden_field_tag :barcode_number
      = hidden_field_tag :company_id, @account.CompanyNumber
      = hidden_field_tag :customer_barcode_id
      = hidden_field_tag :event_id, @event.id
      = hidden_field_tag :scanned_from_account_id
    #request_payment_button_group.btn-group{style: 'display:none;'}
      - if @account.can_request_payment_by_search?
        %a.btn.btn-default.btn-lg{id: 'open_buddy_search_button', href: "#request_payment_buddy_search_modal", "data-target" => "#request_payment_buddy_search_modal", "data-toggle" => "modal"}
          %i.fa.fa-search
          Search
      - if @account.can_request_payment_by_scan?
        %a.btn.btn-default.btn-lg{id: 'open_request_payment_qrcode_scanner_button', href: "#request_payment_qrcode_scanner_modal", "data-target" => "#request_payment_qrcode_scanner_modal", "data-toggle" => "modal"}
          %i.fa.fa-qrcode
          Scan Code
    %div{id: "request_payment_scan_spinner", style: 'display:none;'}
      %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
    = link_to "Cancel", nil, id: 'quick_purchase_cancel_button', :onclick => "javascript:window.location.reload()", style: 'display: none;', class: 'btn btn-default btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Cancel"}
    %button.btn.btn-primary.btn-lg{id: 'quick_purchase_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}, style: 'display: none;'} 
      Submit

    .modal.fade{id: "request_payment_buddy_search_modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          -#
            .modal-header
              Select Person for Payment Request
              = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
          .modal-body
            %div.text-center{style: 'font-size: 48px;'}
              %strong
                %span{class: 'request_payment_amount'}
            =# select_tag :from_account_id, options_from_collection_for_select(@account.buddies, "id", "customer_user_name"), class: "form-control input-lg", style: 'width:100%', prompt: 'Search/Select'
            =# select_tag :from_account_id, options_from_collection_for_select(@event.member_accounts, "id", "customer_user_name"), class: "form-control input-lg", style: 'width:100%', prompt: 'Search/Select'
            .form-group.form-group-lg
              = select_tag :from_account_id, options_from_collection_for_select(@event.accounts.can_be_pulled_by_search, "id", "customer_user_name_and_registration_source"), class: "form-control input-lg", style: 'width:100%;', prompt: 'Search/Select', required: true
            = image_tag('', id: 'file_image', class: 'img-responsive transaction-img')
            .form-group
              = text_area_tag :note, nil, :placeholder => "Note", class: "form-control input-lg", style: "width: 100%;"
          .modal-footer
            = file_field_tag "file", id: 'transaction_file', onchange: "PreviewImage();", class: 'btn btn-default', title: "<i class='fa fa-upload'/> Picture".html_safe
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{id: 'quick_purchase_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}} 
              Submit

  .modal.fade{id: "request_payment_qrcode_scanner_modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content{style: 'background-color: black;'}
        -#
          .modal-header
            Scan QR Code for Payment
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
        .modal-body
          %div.text-center{style: 'color: white; font-size: 48px;'}
            %strong
              %span{class: 'request_payment_amount'}
          %video#video{:style => "border: 2px solid green; width: 100%; height: auto;"}
          .form-group
            = text_area_tag :note, nil, :placeholder => "Note", class: "form-control input-lg", style: "width: 100%;"
        .modal-footer
          = link_to "Cancel", '#', :class => "btn btn-default btn-sm", "data-dismiss" => "modal"

= audio_tag asset_path("cash_register.mp3"), class: "cash_register_chime"

:javascript
  $('#request_payment_details').on('keyup', '#amount', function() {
    var amount;
    amount = parseFloat($('#amount').val());
    if (amount > 0) {
      $('#request_payment_button_group').show();
      return true;
    } else {
      $('#request_payment_button_group').hide();
      return false;
    }
  });

  $('#request_payment_details').on('click', '#open_buddy_search_button', function(e) {
    var amount;
    amount = parseFloat($('#amount').val());
    if (amount > 0) {
      return $('.request_payment_amount').html("$" + amount);
    } else {
      alert("Amount must be greater than $0");
      return false;
    }
  });

  function PreviewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("transaction_file").files[0]);

    oFReader.onload = function (oFREvent) {
      document.getElementById("file_image").src = oFREvent.target.result;
    };
  };

  // Confirm amount to pull
  $('#request_payment_buddy_search_modal').on('click', '#quick_purchase_button', function(e) {
    var amount, confirm1, name;
    name = $(this).closest('form').find('#from_account_id:first option:selected').text();
    amount = Number($(this).closest('form').find('#amount:first').val());
    if (name === "Search/Select") {
      e.preventDefault();
      alert('Please choose an account.');
    } else if (!$.isNumeric(amount) || amount <= 0) {
      e.preventDefault();
      alert('Amount must be a positive number.');
    } else {
      confirm1 = confirm('Are you sure you want to charge ' + name + ' $' + amount.toFixed(2) + '?');
      if (confirm1) {

      } else {
        e.preventDefault();
      }
    }
  });

  // Prettier file upload buttons
  // Make sure wrapper hasn't already been applied
  if (document.querySelector('.file-input-wrapper') === null) {
    $('input[type=file]').bootstrapFileInput();
  };
  
  // Make sure select2 isn't applied multiple times by turbolinks
  $(document).on('turbolinks:before-cache', function() {
    $('select#from_account_id').select2('destroy');
  });

  $(document).on('turbolinks:load', function() {
    $('select#from_account_id').select2({
      theme: 'bootstrap',
      minimumInputLength: 3,
      dropdownParent: $("#request_payment_buddy_search_modal")
    });
  });