%div{:id => "withdrawal_details"}
  .input-group.input-group-lg.mb-3
    .input-group-prepend
      %span.input-group-text $
    = number_field_tag :withdrawal_amount, nil, :placeholder => "Amount", class: "form-control input-lg", required: true, step: '1', autofocus: true, :inputmode => "numeric", :min => "0", :pattern => "[0-9]*"
    .input-group-append
      %span.input-group-text .00
  %p
    %a.btn.btn-success.btn-block.btn-lg.show_account_code_button{href: "#company_#{@account.CompanyNumber}_barcode", "data-toggle" => "modal", "data-target" => "#company_#{@account.CompanyNumber}_barcode", "data-customer-id" => @customer.id, "data-company-id" => @account.CompanyNumber, "data-account-id" => @account.id, id: "show_account_code_button"}
      %i.fa.fa-qrcode
      Create QR Code
      
  %div.modal.fade.in{id: "company_#{@account.CompanyNumber}_barcode"}
    .modal-dialog.modal-sm{:role => "document"}
      .modal-content
        .modal-header
        .modal-body
          .text-center
            - unless @base64_barcode_string.blank?
              %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}
            - else
              %div{class: "generating_barcode_spinner", style: 'display:none;'}
                %i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
              %img{id: "company_#{@account.CompanyNumber}_barcode_contents", :src => "", class: 'img-fluid'}
        .modal-footer
          = link_to "Done", nil, :onclick => "javascript:window.location.reload()", class: 'btn btn-default btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Done"}