-# %p
%a.btn.btn-success.btn-lg.btn-block.show_account_code_button{href: "#withdrawal_code", "data-toggle" => "modal", "data-target" => "#withdrawal_code", "data-customer-id" => @customer.id, "data-company-id" => @account.CompanyNumber, "data-account-id" => @account.id, id: "open_withdrawal_code_button"}
  %i.fa.fa-money
  Withdraw
      
%div.modal.fade.in{id: "withdrawal_code"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-body
        .text-center
          - unless @base64_barcode_string.blank?
            %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}
          - else
            %div{class: "generating_barcode_spinner", style: 'display:none;'}
              %i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
            %img{id: "company_#{@account.CompanyNumber}_barcode_contents", :src => "", class: 'img-fluid'}
      .modal-footer
        - if current_user.admin? or (current_user.collaborator? and current_user.devices.blank?)
          %a.btn.btn-default{href: barcode_customer_path(@customer.id)}
            %i.fa.fa-print
            Print
        - else
          - if current_user.devices.count > 1
            .dropdown
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-print
                Print
                %span.caret
              %ul.dropdown-menu
                - current_user.devices.each do |device|
                  %li
                    %a{href: barcode_customer_path(@customer.id, device_id: device.id)}
                      = device.description
          - elsif current_user.devices.count == 1
            %a.btn.btn-default{href: barcode_customer_path(@customer.id, device_id: current_user.devices.first.id)}
              %i.fa.fa-print
              Print
        = link_to "Done", nil, :onclick => "javascript:window.location.reload()", class: 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Done"}

-#
  %p
    %a.btn.btn-success.btn-block.btn-lg{href: "#company_#{@account.CompanyNumber}_withdrawal_all", "data-toggle" => "modal", "data-target" => "#company_#{@account.CompanyNumber}_withdrawal_all", "data-customer-id" => @customer.id, "data-company-id" => @account.CompanyNumber, id: "show_withdrawal_all_button"}
      %i.fa.fa-money
      Withdrawal All
    %div.modal.fade.in{id: "company_#{@account.CompanyNumber}_withdrawal_all"}
      .modal-dialog.modal-sm{:role => "document"}
        .modal-content
          .modal-body
            .text-center
              %img{:src => "#{current_user.qr_code}", class: 'img-fluid'}
          .modal-footer
            = link_to "Done", nil, :onclick => "javascript:window.location.reload()", class: 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Done"}

:javascript
  $(document).on('click', '.show_account_code_button', function(e) {
    var account_id, amount, company_id, customer_id;
    $('.generating_barcode_spinner').show();
    customer_id = $(this).data("customer-id");
    company_id = $(this).data("company-id");
    account_id = $(this).data("account-id");
    amount = $('#withdrawal_amount').val();
    $.ajax({
      //url: "/customers/" + customer_id + "/barcode",
      url: "/accounts/" + account_id + "/withdraw_barcode",
      dataType: 'json',
      data: {
        company_id: company_id,
        account_id: account_id,
        amount: amount
      },
      success: function(data) {
        var barcode_string;
        $('.generating_barcode_spinner').hide();
        barcode_string = data.barcode_string;
        document.getElementById("company_" + company_id + "_barcode_contents").setAttribute('src', "data:image/png;base64," + barcode_string);
      },
      error: function(xhr) {
        var error;
        $('.generating_barcode_spinner').hide();
        error = $.parseJSON(xhr.responseText).error;
        alert(error);
        console.log(error);
      }
    });
  });