.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h3
        %i.fa.fa-male
        Accounts
        %small= link_to 'New', new_customer_path(group_id: @group_id), class: 'btn bg-orange'
        - unless @customers.blank? or @type == "Anonymous"
          .pull-right
            %a.btn.btn-default.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#sms_message"}
              %i.fa.fa-comment
              Message
          = render 'group_sms_message'

    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            - unless browser.device.mobile?
              - unless @customers.blank?
                %a{href: customers_path(format: "csv", q: params[:q], type: @type), class: 'btn btn-info btn-sm'}
                  %i.fa.fa-download
                  Download CSV
            - else
              = form_tag customers_path, id: 'customers_search_form', method: 'get', class: 'form-inline' do |f|
                =# select_tag :type, options_for_select(["Regular", "Anonymous"], @type), class: "form-control"
                =# select_tag :group_id, options_for_select(Group.selections_by_user_role(current_user), @group_id), class: "form-control"
                &nbsp;
                .input-group
                  = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true, style: 'width: 75%'
                  .input-group-append
                    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                      %i.fa.fa-search
          - unless browser.device.mobile?
            .box-tools
              = form_tag customers_path, id: 'customers_search_form', method: 'get', class: 'form-inline' do |f|
                =# select_tag :type, options_for_select(["Regular", "Anonymous"], @type), class: "form-control"
                =# select_tag :group_id, options_for_select(Group.selections_by_user_role(current_user), @group_id), class: "form-control"
                &nbsp;
                .input-group
                  = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                  .input-group-append
                    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                      %i.fa.fa-search
          %br
          %small.text-muted
            =# "#{pluralize(number_with_delimiter(@all_customers.count), 'record')} found"

        .box-body.no-padding
          - unless @all_customers.blank?
            .table-responsive
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    - unless @type == "Anonymous"
                      %th{:scope => "col"}= customers_sort_link 'customer.NameF', "First", params[:q], @group_id
                      %th{:scope => "col"}= customers_sort_link 'customer.NameL', "Last", params[:q], @group_id
                      %th{:scope => "col"}= customers_sort_link 'customer.PhoneMobile', "Phone", params[:q], @group_id
                    - else
                      %th{:scope => "col"}= customers_sort_link 'customer.CreateDate', "Created", params[:q], @group_id
                    %th{:scope => "col"} Wallets
                    %th{:scope => "col"}
                %tbody
                  - @customers.each do |customer|
                    %tr
                      - unless @type == "Anonymous"
                        %td= customer.first_name
                        %td= customer.last_name
                        %td
                          - if browser.device.mobile?
                            %a{href: "tel:#{customer.phone}"}
                              = customer.phone
                          - else
                            = customer.phone
                      - else
                        %td= link_to customer.CreateDate, customer
                      %td
                        - unless customer.accounts.blank?
                          = safe_join(customer.accounts.map { |account| link_to(truncate(account.account_type.description, length: 10), account) }, ", ".html_safe)
                        - else
                          None
                      %td
                        = link_to 'Show', customer, class: 'btn btn-default btn-sm'
                        = link_to "Edit", edit_customer_path(customer), class: 'btn btn-primary btn-sm'
          - else
            .jumbotron
              %h3.text-center None found
        .box-footer
          .pull-right= paginate @customers, param_name: 'result1'

:javascript
  $('[data-toggle="popover"]').popover();