.box.box-success
  .box-header.with-border
    %h3.box-title 
      - unless @account_types.blank?
        %a{href: cash_position_company_path(id: @company.id, format: "csv"), class: 'btn btn-sm btn-info'}
          %i.fa.fa-download
          CSV
    -#
      %strong.pull-right
        = "Total: #{number_to_currency(@company.accounts_balance_total)}"
  .box-body.no-padding
    - unless @account_types.blank?
      .table-responsive
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Name
              %th Amount
          %tbody
            - @account_types.each do |account_type|
              - cash_total = account_type.accounts_cash_total
              %tr
                %td
                  - unless cash_total.zero?
                    %a{"aria-controls" => "collapseAccountType#{account_type.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseAccountType#{account_type.id}"}
                      = account_type.description
                    .collapse{id: "collapseAccountType#{account_type.id}"}
                      .card.card-body
                        - account_type.accounts.where.not(Balance: [0,nil]).each do |account|
                          - unless (account == current_user.company.transaction_account or account == current_user.company.fee_account)
                            %p
                              = account.customers.map{ |customer| link_to(customer.identity,customer_path(customer, account_id:  account.id))}.join(", ").html_safe
                              %span.pull-right= number_to_currency(account.balance)
                  - else
                    = account_type.description
                %td= number_to_currency(account_type.accounts_cash_total)
            - unless @company.TxnActID.blank?
              %tr.table-info
                %td 
                  %strong Company Account
                %td= number_to_currency(@company.transaction_account.balance)
            - unless @company.FeeActID.blank?
              %tr.table-info
                %td 
                  %strong Fee Account
                %td= number_to_currency(@company.fee_account.balance)
          -#
            %tfoot
              %tr
                %td
                %td
                  %strong= "Total: #{number_to_currency(@company.accounts_balance_total)}"
            
    - else
      .col-sm-12
        %h5.lead None