.box.box-primary
  .box-header.with-border
    - unless @company.new_record?
      %h3.box-title 
        = "Company #{@company.CompanyNumber}"
        %small.text-muted
          Created
          = @company.CreateDate.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
  .box-body
    = simple_form_for(@company) do |f|
      = f.error_notification
      - @company.errors.each do |attr, msg|
        .alert.alert-danger
          <button type="button" class="close" data-dismiss="alert">×</button>
          = "#{attr} #{msg}" if @company.errors[attr].first == msg
      .form-inputs
        .row
          .col-xs-12.col-sm-9
            = f.input :CompanyName, as: :string, label: 'Name', required: true
        - unless @company.new_record?
          .row
            .col-xs-12.col-sm-6
              .form-group
                Transaction Account:
                = @company.TxnActID.blank? ? 'None' : @company.TxnActID
                - if current_user.super? and not @company.transaction_account.blank?
                  .form-inputs
                    = f.input :transaction_account_minimum_balance, required: true, label: "Minimum Balance" do
                      .input-group
                        .input-group-prepend
                          %span.input-group-text $
                        = f.input_field :transaction_account_minimum_balance, value: @transaction_account.present? ? @transaction_account.MinBalance.to_f : 0
          .row
            .col-xs-12.col-sm-6
              .form-group
                Fee Account:
                = @company.FeeActID.blank? ? 'None' : @company.FeeActID
          .row
            .col-xs-12.col-sm-6
              =# f.input :CashierActID, collection: @company.account_types.map{|at| [at.AccountTypeDesc, at.id]}, as: :select, label: "Quick Pay Wallet Type", prompt: "Select type", wrapper_html: { style: "#{@company.can_quick_pay? ? 'display:block;' : 'display:none;'}" }
              =# select_tag :workout_program_id, options_from_collection_for_select(current_user.workout_programs.order(:name), "id", "name_and_client", @workout.workout_program_id), prompt: "Choose Program", style: 'width:100%;', :class => "form-control select2_clients", required: true
              .form-group
                Cashier Account:
                = select_tag "company[CashierActID]", options_from_collection_for_select(@company.accounts.active, "id", "customer_user_name", current_user.company.CashierActID), class: "form-control select2_accounts", style: 'width:100%', prompt: '-- Search --'
                
        - unless @company.TxnActID.blank?
          .row
            .col-xs-12.col-sm-6
              = f.input :can_quick_pay, as: :boolean, label: 'Quick Pay'
              = f.input :quick_pay_account_type_id, collection: @company.account_types.map{|at| [at.AccountTypeDesc, at.id]}, as: :select, label: "Quick Pay Wallet Type", prompt: "Select type", wrapper_html: { style: "#{@company.can_quick_pay? ? 'display:block;' : 'display:none;'}" }
      .form-actions
        = link_to 'Cancel', :back, class: "btn btn-default"
        %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}} 
          Save

:javascript
  $('#company_can_quick_pay').on('click', function () {
    if ($(this).prop('checked')) {
      $('.company_quick_pay_account_type_id').fadeIn();
    } else {
      $('.company_quick_pay_account_type_id').hide();
    }
  });