.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-building
        Companies
        %small= link_to 'New', new_company_path, class: 'btn bg-orange' if current_user.super?
    / Main content
    %section.content
      / Default box
      .row
        .col-md-12
          .box.box-primary
            .box-header.with-border
              -#
                %h3.box-title 
                  Companies
            .box-body.no-padding
              - unless @companies.blank?
                .table-responsive
                  %table.table.table-striped
                    %thead
                      %tr
                        %th Name
                        %th Fee Account
                        %th Transaction Account
                        %th
                    %tbody
                      - @companies.each do |company|
                        %tr
                          %td= company.CompanyName
                          %td= company.FeeActID
                          %td= company.TxnActID
                          %td
                            = link_to "Show", company, class: 'btn btn-sm btn-default'
                            = link_to "Edit", edit_company_path(company.id), class: 'btn btn-primary btn-sm'
              - else
                .jumbotron
                  %p.text-center None
            .box-footer
              .pull-right=# paginate @companies