- unless @transactions.blank?
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th{:scope => "col"}= transactions_sort_link 'tranID', "#", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          %th{:scope => "col"}= transactions_sort_link 'date_time', "Date", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          %th{:scope => "col"} 
            - unless @type == 'Withdrawal'
              From
            - else
              Account
          - if @device.blank?
            %th{:scope => "col"} 
              To
              -#
                - unless @type == 'Withdrawal'
                  To
                - else
                  Device
          %th Type
          %th{:scope => "col"} Event
          -# %th{:scope => "col"} Ref
          -#
          %th{:scope => "col"}= transactions_sort_link 'error_code', "Code", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          -# %th{:scope => "col"} Code
          -# %th{:scope => "col"} Desc
          -# %th{:scope => "col"}= transactions_sort_link 'Description', "Desc", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          -#
            %th{:scope => "col"} Note
          -#
            - unless @transactions_fee_total.blank? or @transactions_fee_total.zero?
              %th{:scope => "col"}= transactions_sort_link 'ChpFee', "Fee", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          %th{:scope => "col"}= transactions_sort_link 'amt_req', "Req", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          %th{:scope => "col"}= transactions_sort_link 'amt_auth', "Auth", @start_date, @end_date, @type, @transaction_id_or_receipt_number, @event_id
          %th
      %tbody{id: 'transactions_list'}
        - @transactions.each do |transaction|
          - to_customers = transaction.to_account_customers
          - from_customers = transaction.from_account_customers
          %tr{class: transaction.reversal? ? 'table-danger' : transaction.error? ? 'table-warning' : ''}
            %th{:scope => "row"}
              - if transaction.reversal?
                %i.fa.fa-reply.text-danger{"data-toggle" => "tooltip", :title => "Reversal", "data-placement" => "right"}
              - if transaction.error?
                %i.fa.fa-warning.text-danger{"data-toggle" => "tooltip", :title => "Error: #{transaction.error_code_long_description}", "data-placement" => "right"}
              = link_to transaction.id, transaction
            %td
              =# transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y")
              = transaction.date_time.strftime("%-m/%-d/%y")
            %td
              - if transaction.cash_deposit? or transaction.ach_deposit?
                = transaction.Description
              - else
                - unless from_customers.blank?
                  - from_customer = transaction.from_customer
                  - unless from_customer.blank?
                    = link_to from_customer.identity, customer_path(from_customer, account_id: transaction.from_acct_id) unless transaction.from_account.blank?
                  - else
                    = from_customers.map{ |customer| link_to(customer.identity,customer_path(customer, account_id: transaction.from_acct_id))}.join(", ").html_safe
                - else
                  = transaction.from_account.company.name unless transaction.from_account.blank?
            - if @device.blank?
              %td
                - unless to_customers.blank?
                  - to_customer = transaction.to_customer
                  - unless to_customer.blank?
                    = link_to to_customer.identity, customer_path(to_customer, account_id: transaction.to_acct_id) unless transaction.to_account.blank?
                  - else
                    = to_customers.map{ |customer| link_to(customer.identity,customer_path(customer, account_id: transaction.to_acct_id))}.join(", ").html_safe
                - else
                  = transaction.to_account.company.name unless transaction.to_account.blank?
            %td= transaction.type
            %td= transaction.event.blank? ? 'N/A' : transaction.event.title
            -# %td= "#{transaction.receipt_nbr.blank? ? 'N/A' : transaction.receipt_nbr}"
            %td
              -#
                %a{"data-content" => "#{transaction.status_long_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{transaction.error_code_long_description}"} 
              = transaction.error_code_description
            -# %td= transaction.Description.blank? ? 'N/A' : truncate(transaction.Description, length: 15, omission: '..')
            -#
              %td= "#{transaction.Note.blank? ? 'N/A' : transaction.Note}"
            -#
              - unless @transactions_fee_total.blank? or @transactions_fee_total.zero?
                %td= "#{transaction.ChpFee.blank? ? number_to_currency(0) : number_to_currency(transaction.ChpFee)}" 
            %td= "#{transaction.amt_req.blank? ? number_to_currency(0) : number_to_currency(transaction.amt_req)}"
            %td
              - if (transaction.withdrawal? or transaction.withdrawal_all?) and not (transaction.amt_auth.blank? or transaction.amt_auth < 1)
                %a{"data-html" => "true", "data-content" => "#{render partial: 'devices/dispensed_details', locals: {transaction: transaction}}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "Dispensed: #{transaction.amt_auth.blank? ? number_to_currency(0) : number_to_currency(transaction.amt_auth)}"} 
                  = "#{transaction.amt_auth.blank? ? number_to_currency(0) : number_to_currency(transaction.amt_auth)}"
              - else
                = "#{transaction.amt_auth.blank? ? number_to_currency(0) : number_to_currency(transaction.amt_auth)}"
            %td
              - unless to_customers.blank? or transaction.to_account.balance.blank? or transaction.to_account.balance.zero? or transaction.reversal?
                - print_amount = transaction.to_account.withdrawal_all? ? transaction.to_account.available_balance : transaction.amt_auth
                - if current_user.admin? or (current_user.collaborator? and current_user.devices.blank?) or current_user.super?
                  - to_customers.each do |to_customer|
                    %a.btn.btn-default{href: barcode_customer_path(to_customer.id, amount: print_amount, transaction_id: transaction.id)}
                      %i.fa.fa-print
                      = to_customer.identity
                - else
                  - if current_user.devices.count > 1
                    .dropdown
                      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                        %i.fa.fa-print
                        %span.caret
                      %ul.dropdown-menu
                        - current_user.devices.each do |device|
                          %li
                            - to_customers.each do |to_customer|
                              %a{href: barcode_customer_path(to_customer.id, amount: print_amount, device_id: device.id, transaction_id: transaction.id)}
                                = to_customer.identity
                                = device.description
                  - elsif current_user.devices.count == 1
                    - to_customers.each do |to_customer|
                      %a.btn.btn-default{href: barcode_customer_path(to_customer.id, amount: print_amount, device_id: current_user.devices.first.id, transaction_id: transaction.id)}
                        %i.fa.fa-print
                        = to_customer.identity
                  - else
                    - to_customers.each do |to_customer|
                      %a.btn.btn-default{href: barcode_customer_path(to_customer.id, amount: print_amount, transaction_id: transaction.id)}
                        %i.fa.fa-print
                        = to_customer.identity

- else
  &nbsp;
  None

:javascript
  $(function() {
    $('[data-toggle="popover"]').popover();
  });

  $('[data-toggle="tooltip"]').tooltip({html: true});