.content-wrapper
  .container-fluid
    / Content Header (Page header)
    %section.content-header
      .row
        = render 'shared/flash_messages'
        .col-xs-12.col-md-7
          %h3
            %i.fa.fa-bolt
            = @account.blank? ? 'Transactions' : "Account #{@account.id} Transactions"
        .col-xs-12.col-md-5
          .pull-right
            = form_tag transactions_path, id: 'transfers_search_form', method: 'get', class: 'form-inline' do |f|
              .input-group
                = hidden_field_tag :type, 'Transfer'
                = hidden_field_tag :account_id, params[:account_id]
                = search_field_tag :transaction_id, params[:transaction_id], :placeholder => "Transfer ID or Reference #", class: "form-control", autofocus: true, style: "width: 200px;"
                .input-group-append
                  %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                    %i.fa.fa-search
            -#
              - unless @transactions.blank?
                .pull-right
                  %a{href: transactions_path(format: "csv", :type => @type, 'transaction[start_date]' => @start_date, 'transaction[end_date]' => @end_date), class: 'btn bg-orange'}
                    %i.fa.fa-download
                    Download CSV

    / Main content
    %section.content
      / Default box
      .row
        .col-xs-12.col-md-3
          / Profile Image
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center  
                = "Transaction Account" if @account and @account == current_user.company.transaction_account
                = "Fee Account" if @account and @account == current_user.company.fee_account
                Summary
              %ul.list-group.list-group-unbordered
                - unless @account.blank?
                  %li.list-group-item
                    %b 
                      Holders
                    - unless @account.customers.blank?
                      %br
                      = @account.customers.map{ |customer| link_to(customer.full_name,customer_path(customer))}.join(", ").html_safe
                    - else
                      .pull-right None
                %li.list-group-item
                  %b 
                    Amount
                  .pull-right= number_to_currency(@transactions_total)
                  - unless @transactions_reversal_total.blank? or @transactions_reversal_total.zero?
                    %br
                    %b 
                      Reversals
                    .pull-right.text-danger= "(#{number_to_currency(@transactions_reversal_total)})"
                    %br
                    %b 
                      Total
                    .pull-right
                      %mark= "#{number_to_currency(@transactions_total - @transactions_reversal_total)}"
                - unless @type == 'Fee' or @transactions_fee_total.blank? or @transactions_fee_total.zero?
                  %li.list-group-item
                    %b 
                      Fees
                    .pull-right= number_to_currency(@transactions_fee_total)
                    - unless @transaction_fee_reversal_total.blank? or @transaction_fee_reversal_total.zero?
                      %br
                      %b 
                        Fee Reversals
                      .pull-right.text-danger= "(#{number_to_currency(@transaction_fee_reversal_total)})"
              
        .col-xs-12.col-md-9
          .box.box-primary
            .box-header.with-border
              %h3.box-title 
                - unless @transactions.blank? or browser.device.mobile?
                  %a{href: transactions_path(format: "csv", :event_id => @event_id, :type => @type, :start_date => @start_date, :end_date => @end_date, transaction_id: @transaction_id_or_receipt_number, account_id: params[:account_id]), class: 'btn btn-sm btn-info'}
                    %i.fa.fa-download
                    CSV
                  %br
                - unless @transactions.blank?
                  %small.text-muted
                    = "#{pluralize(number_with_delimiter(@all_transactions.count), 'record')} found"
              - unless browser.device.mobile?
                .box-tools
                  = form_tag transactions_path, :method => 'get', :class => "form-inline" do
                    = hidden_field_tag :account_id, params[:account_id]
                    - if current_user.super?
                      = select_tag :company_id, options_from_collection_for_select(Company.all, "CompanyNumber", "CompanyName", @company_id), prompt: 'All companies', class: "form-control"
                      &nbsp;
                    = select_tag :event_id, options_from_collection_for_select(@events, "id", "title", @event_id), prompt: current_user.collaborator? ? nil : 'All events', class: "form-control"
                    &nbsp;
                    =# select_tag :type, options_for_select(["All transactions", "Balance", "Check", "Fee", "Transfer", "Withdrawal"], @type), class: "form-control"
                    = select_tag :type, options_for_select(["All transactions", "Fee", "Transfer", "Withdrawal"], @type), class: "form-control"
                    &nbsp;
                    = text_field_tag :start_date, nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? (@transaction_id_or_receipt_number.blank? ? Date.today : '') : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                    To
                    = text_field_tag :end_date, nil, :placeholder => "End Date", value: "#{@end_date.blank? ? (@transaction_id_or_receipt_number.blank? ? Date.today : '') : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                    &nbsp;
                    = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                      %i.fa.fa-search
              - else
                = form_tag transactions_path, :method => 'get', :class => "form-horizontal" do
                  = hidden_field_tag :account_id, params[:account_id]
                  .form-group= select_tag :event_id, options_from_collection_for_select(@events, "id", "title", @event_id), prompt: 'All events', class: "form-control"
                  -#
                    .form-group= select_tag :type, options_for_select(["All transactions", "Balance", "Check", "Fee", "Transfer", "Withdrawal"], @type), class: "form-control"
                  .form-group= select_tag :type, options_for_select(["All transactions", "Balance", "Check", "Fee", "Transfer"], @type), class: "form-control"
                  .form-group
                    %label.control-label Start Date
                    = text_field_tag :start_date, nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? (@transaction_id_or_receipt_number.blank? ? Date.today : '') : @start_date}", class: "form-control ", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                  .form-group
                    %label.control-label End Date
                    = text_field_tag :end_date, nil, :placeholder => "End Date", value: "#{@end_date.blank? ? (@transaction_id_or_receipt_number.blank? ? Date.today : '') : @end_date}", class: "form-control ", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                  .form-group
                    = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                      %i.fa.fa-search
                      Search

            .box-body.no-padding
              = render partial: "transactions/index"
            .box-footer
              -#
                .pull-right= paginate @transactions, param_name: 'transactions_page'
              %div{id: 'endless_page'}
                %br
                %p.text-center{id: "spinner", style: 'display:none;'}
                  %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
                  %span.sr-only Loading...
                %p.text-center= link_to "Load More...", transactions_path(:transactions_page => @transactions.next_page, company_id: @company_id, event_id: @event_id, type: @type, start_date: @start_date, end_date: @end_date, account_id: @account_id), :class => 'load-more-transactions btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @transactions.next_page