.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-bolt
        - unless @to_customer.blank?
          = link_to @transaction.Description, @to_customer
        - else
          = @transaction.Description
        - unless @transaction.amt_auth.blank?
          - if @transaction.ChpFee.blank?
            %small= number_to_currency(@transaction.amt_auth)
          - else
            %small= number_to_currency(@transaction.amt_auth + @transaction.ChpFee)
        - else
          %small= number_to_currency(0)
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            =# @transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
            = "#{@transaction.date_time.strftime('%-m/%-d/%y %l:%M %p')} Eastern"
          .box-tools.pull-right
            - unless @reversal_transaction.blank?
              .text-danger
                %i.fa.fa-warning
                Transaction reversed:
                = link_to @reversal_transaction.id, @reversal_transaction
            - unless @original_transaction.blank?
              .text-warning
                Original Transaction:
                = link_to @original_transaction.id, @original_transaction
        .box-body
          %ul#myTab.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a#details-tab.nav-link.active{"aria-controls" => "details", "aria-selected" => "true", "data-toggle" => "tab", :href => "#details", :role => "tab"} Details
            %li.nav-item
              %a#advanced-tab.nav-link{"aria-controls" => "advanced", "aria-selected" => "false", "data-toggle" => "tab", :href => "#advanced", :role => "tab"} Advanced
          #myTabContent.tab-content
            #details.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
              %p.lead
                Company:
                = @transaction.company.CompanyName unless @transaction.company.blank?
              %p.lead
                To:
                - unless @to_customers.blank?
                  = @to_customers.map{ |customer| link_to(customer.identity,customer_path(customer, account_id: @transaction.to_acct_id))}.join(", ").html_safe
                -#
                  - unless @to_customer.blank?
                    = link_to @to_customer.identity, customer_path(@to_customer, account_id: @transaction.to_acct_id) unless @transaction.to_account.blank?
                  - else
                    = @transaction.to_account.company.name unless @transaction.to_account.blank?
              %p.lead
                From:
                - unless @from_customers.blank?
                  = @from_customers.map{ |customer| link_to(customer.identity,customer_path(customer, account_id: @transaction.from_acct_id))}.join(", ").html_safe
                -#
                  - unless @from_customer.blank?
                    = link_to @from_customer.identity, customer_path(@from_customer, account_id: @transaction.from_acct_id) unless @transaction.from_account.blank?
                  - else
                    = @transaction.from_account.company.name unless @transaction.from_account.blank?
              - unless @transaction.amt_auth.blank? or @transaction.ChpFee.blank?
                - unless @transaction.Note.blank?
                  %p.lead
                    Note:
                    = @transaction.Note
                %p.lead
                  Total:
                  = number_to_currency(@transaction.amt_auth + @transaction.ChpFee)
              %p
                - @transaction.images.each do |image|
                  .col-xs-12.col-sm-2.col-md-2
                    %a{href: "#image_popup_#{image.id}", "data-toggle" => "modal"}
                      %img.img-fluid.img-thumbnail{:alt => image.id, :src => image.preview_data_uri}
                  %div{:id => "image_popup_#{image.id}", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
                    .modal-dialog.modal-lg
                      .modal-content
                        .modal-body
                          %img.img-fluid{:alt => image.id, :src => image.jpeg_image_data_uri}
              - unless @transaction.upload_file.blank? or @transaction.upload_file.url.blank?
                = image_tag(asset_path(@transaction.upload_file.url), class: 'center image img-responsive col-xs-12 col-sm-6')
            #advanced.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
              %p.lead
                Event:
                - unless @transaction.event.blank?
                  = link_to @transaction.event.title, @transaction.event
                - else
                  N/A
              -#
                %p.lead
                  From Account:
                  - unless @from_customer.blank?
                    = link_to "#{@from_customer.full_name} (#{@transaction.from_acct_id})", @from_customer
                  - else
                    = @transaction.from_acct_id
              %p.lead
                Device ID:
                - unless current_user.basic?
                  = link_to @transaction.dev_id, device_path(@transaction.dev_id) unless @transaction.dev_id.blank?
                - else
                  = @transaction.dev_id
              %p.lead
                Tran ID:
                = @transaction.id
              %p.lead
                Tran Code:
                = @transaction.tran_code
              %p.lead
                Secondary Tran Code:
                = @transaction.sec_tran_code
              %p.lead
                From Cust ID:
                - unless @transaction.FromCustID.blank? or @transaction.FromCustID.zero? or (@transaction.from_customer.present? and @transaction.from_customer.anonymous?)
                  = link_to @transaction.FromCustID, customer_path(@transaction.FromCustID) unless @transaction.FromCustID.blank?
                - else
                  N/A
              %p.lead
                To Cust ID:
                - unless @transaction.ToCustID.blank? or @transaction.ToCustID.zero? or (@transaction.to_customer.present? and @transaction.to_customer.anonymous?)
                  = link_to @transaction.ToCustID, customer_path(@transaction.ToCustID) unless @transaction.ToCustID.blank?
                - else
                  N/A
              %p.lead
                From Acct ID:
                = link_to @transaction.from_acct_id, account_path(@transaction.from_acct_id) unless @transaction.from_acct_id.blank?
              %p.lead
                To Acct ID:
                = link_to @transaction.to_acct_id, account_path(@transaction.to_acct_id) unless @transaction.to_acct_id.blank?
              - unless @user.blank?
                %p.lead
                  User:
                  = @user.full_name
                
              %p.lead
                Error Code:
                = @transaction.error_code
              %p.lead
                Code:
                = @transaction.error_code_long_description
              %p.lead
                Receipt Number:
                - if not @to_customer.blank? and @to_customer.anonymous?
                  = "#{@transaction.receipt_nbr.blank? ? 'N/A' : @transaction.receipt_nbr}"
              %p.lead
                Amount Requested:
                = "#{@transaction.amt_req.blank? ? number_to_currency(0) : number_to_currency(@transaction.amt_req)}"
              %p.lead
                Amount Authorized:
                = "#{@transaction.amt_auth.blank? ? number_to_currency(0) : number_to_currency(@transaction.amt_auth)}"
              - unless @transaction.fee_transfer?
                %p.lead
                  Fee:
                  = "#{@transaction.ChpFee.blank? ? 'N/A' : number_to_currency(@transaction.ChpFee)}"

              - if current_user.administrator?
                %p.lead
                  Tran Code:
                  = @transaction.tran_code
                %p.lead
                  Sec Tran Code:
                  = @transaction.sec_tran_code
                -#
                  %p.lead
                    To wallet type:
                    = "#{@transaction.to_account_type.blank? ? 'N/A' : @transaction.to_account_type}"
                  %p.lead
                    From wallet type:
                    = "#{@transaction.from_account_type.blank? ? 'N/A' : @transaction.from_account_type}"
                - if @transaction.withdrawal? or @transaction.withdrawal_all?
                  .row
                    .col-sm-12.col-md-6
                      .box.box-warning
                        .box-header.with-border
                          %h3.box-title Dispense Details
                        .box-body
                          = render partial: 'devices/dispensed_details', locals: {transaction: @transaction}
                          -#
                            .row
                              .col-sm-6
                                %p.lead
                                  Cassette 1:
                                  = @transaction.cassette_1_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_1_denomination.blank? or @transaction.cassette_1_disp.blank? or @transaction.cassette_1_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_1_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_1_disp * @transaction.device.bin_1_denomination)}"
                                %p.lead
                                  Cassette 2:
                                  = @transaction.cassette_2_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_2_denomination.blank? or @transaction.cassette_2_disp.blank? or @transaction.cassette_2_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_2_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_2_disp * @transaction.device.bin_2_denomination)}"
                                %p.lead
                                  Cassette 3:
                                  = @transaction.cassette_3_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_3_denomination.blank? or @transaction.cassette_3_disp.blank? or @transaction.cassette_3_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_3_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_3_disp * @transaction.device.bin_3_denomination)}"
                              .col-sm-6
                                %p.lead
                                  Cassette 4:
                                  = @transaction.cassette_4_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_1_denomination.blank? or @transaction.cassette_1_disp.blank? or @transaction.cassette_1_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_1_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_1_disp * @transaction.device.bin_1_denomination)}"
                                %p.lead
                                  Cassette 5:
                                  = @transaction.cassette_5_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_5_denomination.blank? or @transaction.cassette_5_disp.blank? or @transaction.cassette_5_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_5_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_5_disp * @transaction.device.bin_5_denomination)}"
                                %p.lead
                                  Cassette 6:
                                  = @transaction.cassette_6_disp
                                  - unless @transaction.device.blank? or @transaction.device.bin_6_denomination.blank? or @transaction.cassette_6_disp.blank? or @transaction.cassette_6_disp.zero?
                                    = " x #{number_to_currency(@transaction.device.bin_6_denomination)}" 
                                    = " = #{number_to_currency(@transaction.cassette_6_disp * @transaction.device.bin_6_denomination)}"
              -#
                %p.lead
                  To Account:
                  - unless @to_customer.blank?
                    = link_to "#{@to_customer.full_name} (#{@transaction.to_acct_id})", @to_customer
                  - else
                    = @transaction.to_acct_id
                %p.lead
                  DateTime:
                  = @transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %p.lead
                  Status:
                  = @transaction.status_long_description

                %p.lead
                  Description:
                  = @transaction.Description
                %p.lead
                  Note:
                  = @transaction.Note
              -#
                %p
                  - @transaction.images.each do |image|
                    .col-xs-12.col-sm-2.col-md-2
                      %a{href: "#image_popup_#{image.id}", "data-toggle" => "modal"}
                        %img.img-fluid.img-thumbnail{:alt => image.id, :src => image.preview_data_uri}
                    %div{:id => "image_popup_#{image.id}", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
                      .modal-dialog.modal-lg
                        .modal-content
                          .modal-body
                            %img.img-fluid{:alt => image.id, :src => image.jpeg_image_data_uri}
                - unless @transaction.upload_file.blank? or @transaction.upload_file.url.blank?
                  = image_tag(asset_path(@transaction.upload_file.url), class: 'center image img-responsive col-xs-12 col-sm-6')
            .box-footer
              = link_to 'Back', :back, class: 'btn btn-default'
              - if current_user.administrator? or current_user.collaborator?
                -# unless @to_customer.blank? or @to_customer.balance.blank? or @to_customer.balance.zero?
                - unless @to_customer.blank? or @transaction.to_account.balance.blank? or @transaction.to_account.balance.zero?
                  - print_amount = @transaction.to_account.withdrawal_all? ? @transaction.to_account.available_balance : @transaction.amt_auth
                  - if current_user.admin? or (current_user.collaborator? and current_user.devices.blank?) or current_user.super?
                    %a.btn.btn-default{href: barcode_customer_path(@to_customer.id, amount: print_amount), target: '_blank'}
                      %i.fa.fa-print
                      Print Barcode
                  - else
                    - if current_user.devices.count > 1
                      .dropdown
                        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                          %i.fa.fa-print
                          %span.caret
                        %ul.dropdown-menu
                          - current_user.devices.each do |device|
                            %li
                              %a{href: barcode_customer_path(@to_customer.id, amount: print_amount, device_id: device.id)}
                                = device.description
                    - elsif current_user.devices.count == 1
                      %a.btn.btn-default{href: barcode_customer_path(@to_customer.id, amount: print_amount, device_id: current_user.devices.first.id)}
                        %i.fa.fa-print
                        Print Barcode
                    - else
                      %a.btn.btn-default{href: barcode_customer_path(@to_customer.id, amount: print_amount)}
                        %i.fa.fa-print
                        Print Barcode
              -# if @transaction.from_account_customer == current_user.customer
              - if @transaction.from_account_customers.include?(current_user.customer)
                .pull-right
                  %a{href: dispute_transaction_path(@transaction, phone: current_user.phone), class: 'btn btn-danger btn-sm'}
                    Dispute
              - if current_user.can_reverse_transactions? and @transaction.can_reverse?
                - if @reversal_transaction.blank? and not @transaction.reversal?
                  .pull-right
                    %a{href: reverse_transaction_path(@transaction), class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure you want to reverse this transaction?', disable_with: "<i class='fa fa-spinner fa-spin'></i> Reverse"}}
                      %i.fa.fa-warning
                      Reverse