.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-google-wallet
        Wallets
        -# %small= link_to 'New', new_customer_path, class: 'btn bg-orange'
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            - if browser.device.mobile?
              = form_tag accounts_path, id: 'accounts_search_form', method: 'get', class: 'form-inline' do |f|
                .input-group
                  = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true, style: 'width: 75%'
                  .input-group-append
                    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                      %i.fa.fa-search
            - else
              .box-tools
                = form_tag accounts_path, id: 'accounts_search_form', method: 'get', class: 'form-inline' do |f|
                  .input-group
                    = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                    .input-group-append
                      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                        %i.fa.fa-search
          %br
          %small.text-muted
            = "#{pluralize(number_with_delimiter(@accounts.count), 'account')} found"

        .box-body.no-padding
          .table-responsive
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th ID
                  %th User Account 
                  %th Events
                  %th Balance
                  %th
              %tbody
                - @accounts.each do |account|
                  %tr
                    %td= account.id
                    %td
                      - unless account.customer.blank? 
                        = link_to "#{account.customer.full_name}", customer_path(account.customer.id, account_id: account.id)
                        -#
                          - unless account.user.blank?
                            = link_to "#{account.user.full_name} (#{account.user.role})", customer_path(account.customer.id, account_id: account.id)
                      - else
                        None
                    %td
                      - unless account.events.blank?
                        - account.events.each do |event|
                          = link_to "#{event.title}#{event != account.events.last ? ', ' : ''}", event
                      - else
                        None
                    %td= number_to_currency(account.Balance)
                    %td
                      = link_to "Show", account, class: 'btn btn-default btn-sm'
                      = link_to "Edit", edit_account_path(account), class: 'btn btn-primary btn-sm'
                      - unless account.customer.blank? or account.can_delete?
                        = link_to 'Delete', account, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
                      -#
                        - else
                          %span 
                            &nbsp;
                            Cannot delete
                    
        .box-footer
          -#
            .pull-right= paginate @accounts