.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        Accounts
        %small= link_to 'New', new_customer_path, class: 'btn bg-orange'
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            = form_tag accounts_path, :method => 'get', :class => "form-inline" do
              = select_tag :active, options_for_select([["Active",1], ["Inactive",0]], params[:active]), prompt: 'Active & Inactive', class: "form-control"
              &nbsp;
              = select_tag :event_id, options_from_collection_for_select(@events, "id", "title", @event_id), prompt: 'All events', class: "form-control"
              &nbsp;
              = select_tag :type_id, options_from_collection_for_select(@account_types, "id", "description", @type_id), prompt: 'All types', class: "form-control"
              &nbsp;
              = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control"
              &nbsp;
              = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                %i.fa.fa-search
          .box-tools.pull-left
            - unless @accounts.blank?
              = render 'sms_modal'
              %span.pull-right
                %a{href: '#', "data-toggle" => "modal", "data-target" => "#send_sms_notification"}
                  %i.fa.fa-commenting.fa-lg
                  Message
          %br
          %small.text-muted
            = "#{pluralize(number_with_delimiter(@total_accounts_results.count), 'account')} found"

        .box-body.no-padding
          .table-responsive
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th ID
                  -#
                    %th First
                    %th Last
                  %th Holders
                  %th Type
                  -#
                    %th Events
                  %th Balance
                  %th
              %tbody{id: 'accounts_list'}
                - @accounts.uniq.each do |account|
                  %tr{class: account.active? ? '' : 'table-danger'}
                    %td= account.id
                    -#
                      %td
                        - unless account.customer.blank? 
                          =# link_to "#{account.customer.first_name.blank? ? account.customer.phone : account.customer.first_name}", customer_path(account.customer.id, account_id: account.id)
                          = "#{account.customer.first_name.blank? ? account.customer.phone : account.customer.first_name}"
                        - else
                          None
                      %td
                        - unless account.customer.blank? 
                          =# link_to "#{account.customer.last_name.blank? ? '' : account.customer.last_name}", customer_path(account.customer.id, account_id: account.id)
                          = "#{account.customer.last_name.blank? ? '' : account.customer.last_name}"
                        - else
                          None
                    %td
                      - unless account.customers.blank? 
                        = account.customers.map{ |customer| link_to(customer.full_name,customer_path(customer))}.join(", ").html_safe
                        -#
                          - account.customers.each do |customer|
                            = link_to "#{customer.full_name.blank? ? customer.phone : customer.full_name}", customer_path(customer.id, account_id: account.id)
                    %td= account.account_type.blank? ? 'N/A' : account.account_type.description
                    -#
                      %td
                        - unless account.events.blank?
                          - account.events.each do |event|
                            = link_to "#{event.title}#{event != account.events.last ? ', ' : ''}", event
                        - else
                          None
                    %td
                      - unless account.MinBalance.blank? or account.MinBalance.zero?
                        %span.btn.btn-info.btn-sm{"data-toggle" => "tooltip", :title => "#{number_to_currency(account.balance)} (balance)<br>#{number_to_currency(account.minimum_balance)} (#{account.credit_balance? ? 'credit' : 'minimum'})<br><strong>#{number_to_currency(account.available_balance)} (available)</strong>".html_safe, "data-placement" => "right"}
                          = number_to_currency(account.Balance)
                      - else
                        = number_to_currency(account.Balance)
                    %td
                      =# link_to "Show", account, class: 'btn btn-default btn-sm'
                      =# link_to "Edit", edit_account_path(account), class: 'btn btn-primary btn-sm'
                      -#
                        - unless account.customer.blank?
                          = link_to "Show", account.customer, class: 'btn btn-default btn-sm'
                      %a{href: edit_account_path(account), class: 'btn btn-primary btn-sm'}
                        %i.fa.fa-gear
                        Advanced
                      -#
                        - unless account.customer.blank? or account.can_delete?
                          = link_to 'Delete', account, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
                      -#
                        - else
                          %span 
                            &nbsp;
                            Cannot delete
                    
        .box-footer
          -# .pull-right= paginate @accounts
          %div{id: 'endless_page'}
            %br
            %p.text-center{id: "spinner", style: 'display:none;'}
              %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
              %span.sr-only Loading...
            %p.text-center= link_to "Load More...", accounts_path(:page => @accounts.next_page, active: @active, event_id: @event_id, type_id: @type_id, q: @q), :class => 'load-more-accounts btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @accounts.next_page

:javascript
  $('[data-toggle="tooltip"]').tooltip({html: true});