.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        Accounts
        -# %small= link_to 'New', new_customer_path, class: 'btn bg-orange'
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            = form_tag accounts_path, :method => 'get', :class => "form-inline" do
              = select_tag :event_id, options_from_collection_for_select(current_user.company.events, "id", "title", @event_id), class: "form-control"
              &nbsp;
              = select_tag :type_id, options_from_collection_for_select(current_user.company.account_types, "id", "description", @type_id), class: "form-control"
              &nbsp;
              = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control"
              &nbsp;
              = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                %i.fa.fa-search
          .box-tools.pull-left
            - unless @accounts.blank?
              = render 'sms_modal'
              %span.pull-right
                %a{href: '#', "data-toggle" => "modal", "data-target" => "#send_sms_notification"}
                  %i.fa.fa-commenting.fa-lg
                  Message
          %br
          %small.text-muted
            = "#{pluralize(number_with_delimiter(@accounts.count), 'account')} found"

        .box-body.no-padding
          .table-responsive
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th ID
                  %th User Account 
                  -#
                    %th Type
                    %th Events
                  %th Balance
                  %th
              %tbody
                - @accounts.each do |account|
                  %tr
                    %td= account.id
                    %td
                      - unless account.customer.blank? 
                        = link_to "#{account.customer.full_name}", customer_path(account.customer.id, account_id: account.id)
                        -#
                          - unless account.user.blank?
                            = link_to "#{account.user.full_name} (#{account.user.role})", customer_path(account.customer.id, account_id: account.id)
                      - else
                        None
                    -#
                      %td= account.account_type.description
                      %td
                        - unless account.events.blank?
                          - account.events.each do |event|
                            = link_to "#{event.title}#{event != account.events.last ? ', ' : ''}", event
                        - else
                          None
                    %td
                      - unless account.MinBalance.blank? or account.MinBalance.zero?
                        %span.text-primary{"data-toggle" => "tooltip", :title => "#{number_to_currency(account.balance)} (balance) - #{number_to_currency(account.minimum_balance)} (minimum) = #{number_to_currency(account.available_balance)} (available)", "data-placement" => "right"}
                          = number_to_currency(account.available_balance)
                      - else
                        = number_to_currency(account.Balance)
                    %td
                      = link_to "Show", account, class: 'btn btn-default btn-sm'
                      = link_to "Edit", edit_account_path(account), class: 'btn btn-primary btn-sm'
                      -#
                        - unless account.customer.blank? or account.can_delete?
                          = link_to 'Delete', account, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
                      -#
                        - else
                          %span 
                            &nbsp;
                            Cannot delete
                    
        .box-footer
          -#
            .pull-right= paginate @accounts

:javascript
  $('[data-toggle="tooltip"]').tooltip();