.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h3
        %i.fa.fa-google-wallet
        Wallet
    / Main content
    %section.content
      / Default box
      .box.box-primary
        -#
          .box-header.with-border
            %h3.box-title 
            .box-tools.pull-right
              Box tools
        .box-body
          %p.lead
            %strong ID:
            = @account.id
          %p.lead
            %strong User Account:
            - unless @account.user.blank?
              = link_to "#{@account.user.full_name} (#{@account.user.role})", customer_path(@account.customer.id, account_id: @account.id)
            - else
              N/A
          %p.lead
            %strong Events:
            - unless @account.events.blank?
              %br
              - @account.events.each do |event|
                - if current_user.administrator?
                  = link_to event.title, event
                - else
                  = event.title
                %br
            - else
              None
          %p.lead
            %strong Balance:
            = number_to_currency(@account.balance)
          - unless @account.minimum_balance.blank? or @account.minimum_balance.zero?
            %p.lead
              %strong Minimum Balance:
              = number_to_currency(@account.minimum_balance)
            %p.lead
              %strong Available Balance:
              = number_to_currency(@account.available_balance)
          - if @account.can_fund_by_ach?
            %h5
              %strong ACH
            %p.lead
              %strong Maintained Balance:
              = @account.MaintainBal.blank? ? number_to_currency(0) : number_to_currency(@account.MaintainBal)
            %p.lead
              %strong Bank Routing Number:
              = @account.bank_routing_number.blank? ? 'None' : "****#{@account.decrypted_bank_routing_number.last(4)}"
            %p.lead
              %strong Bank Account Number:
              = @account.bank_account_number.blank? ? 'None' : "****#{@account.decrypted_bank_account_number.last(4)}"

          .box-footer
            = link_to 'Back', :back, class: 'btn btn-default'
            = link_to 'Edit', edit_account_path(@account), class: 'btn btn-primary'
            .pull-right
              =# link_to 'Delete', @account, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure you want to delete?' }
            